<footer class="et_footer">
    <div class="container">
        <div class="col-md-12">
            <p class="mb-0 et_ff_Gilroy-Medium">Copyright © 2021 <a href="javascript:void(0)"
                    class="et_orange_text">INTERFRIENDS</a>. All rights reserved.</p>
        </div>
        <div class="footer-links" style="margin-top: 10px;">
            <a routerLink="/privacyPolicy" style="margin: 0 10px;" class="et_orange_text">Privacy Policy</a> |
            <a routerLink="/term&condition" style="margin: 0 10px;" class="et_orange_text">Terms & Conditions</a>
        </div>
    </div>
</footer>