<footer class="et_footer">
    <div class="container">
        <div class="ct_footer_menu mb-4">
            <ul>
                <li><a routerLink="/" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/about-us" routerLinkActive="active">About Us</a></li>
                <li><a routerLink="/how-it-works" routerLinkActive="active">How It Works </a></li>
                <li><a routerLink="/co-operative" routerLinkActive="active"> Interfriends Co-op</a></li>
                <li><a routerLink="/contact-us" routerLinkActive="active">Contact Us</a></li>
                <li><a routerLink="/our-products" routerLinkActive="active">Our Products</a></li>
                <li><a routerLink="/faq" routerLinkActive="active">FAQs</a></li>
                <!-- <li><a routerLink="/contact-us" routerLinkActive="active">Interfriends Co-operative</a></li> -->
            </ul>
            <div>
                <a href="#" class="et_orange_btn" data-toggle="modal" data-target="#viewModal">New to
                    Interfriends</a>
            </div>
        </div>
        <div class="col-md-12">
            <p class="mb-0 et_ff_Gilroy-Medium">Copyright © 2021 <a href="javascript:void(0)"
                    class="et_orange_text">INTERFRIENDS</a>. All rights reserved.</p>
        </div>
        <div class="footer-links" style="margin-top: 10px;">
            <a routerLink="/privacyPolicy" style="margin: 0 10px;" class="et_orange_text">Privacy Policy</a> |
            <a routerLink="/term&condition" style="margin: 0 10px;" class="et_orange_text">Terms & Conditions</a>
        </div>
    </div>
</footer>