<div class="et_main_banner_bg" style="height: 395px;">

    <app-home-header></app-home-header>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="et_banner_section text-center">
                        <h2 class="et_fs_40 et_ff_Gilroy-Bold text-white mb-0">FAQs</h2>
                        <ul class="et_breadcrumb">
                            <li>
                                <a routerLink="/home" class="et_orange_text">Home</a>
                            </li>
                            <li><i class="fa-solid fa-angle-right"></i></li>
                            <li>FAQs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<!-- Faq Section S -->
<app-shared-faq></app-shared-faq>
<!-- Faq Section E -->

<app-home-footer></app-home-footer>