<app-home-header></app-home-header>

<!-- <div class="et_main_banner_bg" style="height: 395px;">


    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="et_banner_section text-center">
                        <h2 class="et_fs_40 et_ff_Gilroy-Bold text-white mb-0">FAQs</h2>
                        <ul class="et_breadcrumb">
                            <li>
                                <a routerLink="/home" class="et_orange_text">Home</a>
                            </li>
                            <li><i class="fa-solid fa-angle-right"></i></li>
                            <li>FAQs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</div> -->

<owl-carousel-o [options]="bannerOptions" class="et_key_fact_slider et_home_banner_slider">
    <ng-container *ngFor="let banner of banners">
        <ng-template carouselSlide>
            <div class="et_main_banner_bg" [ngStyle]="{ 'background-image': 'url(' + banner.image + ')' }">
                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 mx-auto">
                                <div class="et_banner_section text-center">
                                    <h2 class="et_fs_40 et_ff_Gilroy-Bold text-white mb-0">FAQs</h2>
                                    <ul class="et_breadcrumb">
                                        <li>
                                            <a routerLink="/home" class="et_orange_text">Home</a>
                                        </li>
                                        <li><i class="fa-solid fa-angle-right"></i></li>
                                        <li>FAQs</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </ng-template>
    </ng-container>
</owl-carousel-o>


<!-- Faq Section S -->
<app-shared-faq></app-shared-faq>
<!-- Faq Section E -->

<app-home-footer></app-home-footer>