<div class="ct_welcome_main">
  <div class="ct_welcome_bg">
    <div class="ct_modal_logo">
      <img [src]="userDetail?.profile_image ? userDetail?.profile_image : 'assets/img/about/avatar.png'" alt="">
    </div>
    <h4 class="text-center ct_fs_24 mt-4 mb-0">Welcome {{userDetail?.first_name}}!</h4>
    <p class="text-center mt-2">We're glad to have you here. Let's get started on your journey!</p>
    <div class="text-center mt-4">
      <!-- <button type="button" class="et_orange_btn" >Continue</button> -->
      <button class="et_orange_btn mx-auto" routerLink="/user/dashboard">Get Started</button>
    </div>
  </div>

</div>