.dropdown-toggle::after{
  display: none;
}
.dropdown-menu{
  min-width: 100%;
}
@media screen and (max-width:1199px){
  .ct_mt_0_mob
{
  margin-top: 0px !important;
}
}

@media screen and (max-width:767px) {
  .ct_max_width_50{
    max-width:50%;
  }

}

