<div class="et_main_banner_bg" style="height: 145px;">

    <app-home-header></app-home-header>

</div>

<section class="savings-box container">
    <h1 class="mt-2">
        Term & Conditions
    </h1>
    <div class="row">
        <!-- <div class="col-md-12" [innerHTML]="termAndcondition"></div> -->
        <div>
            <p class="et_dark_blue_text et_fs_18">
                The website and its contents are owned by Interfriends [www.Interfriends.uk], which is hereinafter
                referred
                to as the “Website” or “Interfriends Website”.
            </p>
            <p class="et_dark_blue_text et_fs_18">
                PLEASE READ THIS SECTION CAREFULLY BEFORE ACCESSING OR USING
                THE WEBSITE. BY ACCESSING OR USING THE WEBSITE, YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS SET
                FORTH
                BELOW AND THE DISCLAIMER SET FORTH BELOW.
            </p>
            <p class="et_dark_blue_text et_fs_18">
                IF YOU CHOOSE NOT TO BE BOUND BY THESE TERMS, CONDITIONS, AND
                DISCLAIMER, YOU MAY NOT ACCESS OR USE THE WEBSITE. WE MAY MODIFY THIS SECTION AT ANY TIME, AND SUCH
                MODIFICATIONS SHALL BE EFFECTIVE IMMEDIATELY UPON EITHER POSTING THE MODIFIED SECTION OR NOTIFYING YOU.
                YOU
                AGREE TO REVIEW THIS SECTION PERIODICALLY TO BE AWARE OF SUCH MODIFICATIONS, AND YOUR CONTINUED ACCESS
                OR
                USE OF THE WEBSITE SHALL BE DEEMED YOUR CONCLUSIVE ACCEPTANCE OF THE MODIFIED SECTION.
            </p>
            <p class="et_dark_blue_text et_fs_18">
                The foregoing definitions describe the terms and conditions governing your use of the Interfriends
                Website, application, services, content, and related features, including any update or new releases
                (collectively, the “Service(s)” as defined below).
            </p>
            <!-- 1 -->
            <h4 class="et_fs_28 et_dark_blue_text et_ff_Gilroy-semi-bold">1. Definitions
            </h4>

            <p class="et_dark_blue_text et_fs_18">"You\Customer" means the user of the Website or the application,
                considering all expressions leading thereto. "We/us/our" means that its current headquarters are in the
                borders of the United Kingdom and considers all expressions leading thereto.</p>

            <p class="et_dark_blue_text et_fs_18">"User Information" means all details, financial
                information, and personal information we obtain through
                your use of the Website or the Application. "Users" means the users of the Website or the
                application of Interfriends, whether they are individuals,
                civil associations, or civil associations to which the contract has been contracted. The User warrants
                and represents that the
                information provided in respect of the User Information shall
                be correct, complete, accurate, and up to date.</p>

            <p class="et_dark_blue_text et_fs_18">“Application” means Interfriends application
                owned by the same, which can be accessed and used by
                smartphones on the App Store and/or the Play Store. It is an electronic platform application allowing
                users to subscribe to the Circle (as defined below) to save money by paying a fixed monthly amount, each
                of which is to be rotated on the full amount less Provident deduction at the time specified in the
                application by Interfriends.</p>

            <p class="et_dark_blue_text et_fs_18">“Circle(s)” means your agreement with us and
                with another group of Users to join one of the Circles by
                paying a certain amount every month with other Users, and each of them receives the total money
                collected monthly, less Provident deductions. You will be bound by the Circle once we collect
                your User Information. You will be able to save money by
                paying a fixed monthly amount in installments (“PayIn”) in a fixed timeline and specified due dates. You
                receive the total value saved on your behalf (“PayOut”), less Provident deduction on your allocated turn
                in the Circle (“Slot”). The Circle shall be implemented consistently, and you must adhere to the
                duration specified therein.</p>

            <p class="et_dark_blue_text et_fs_18">"Service(s)" is the service contemplated for
                the Website, the Application, or both.</p>

            <p class="et_dark_blue_text et_fs_18">"Content(s)" means any educational material,
                comments, messages, data, information, text, music, sound,
                image, graphic, video, code, or other material that is transmitted to or displayed on the Interfriends
                website or through a third-party website.</p>

            <p class="et_dark_blue_text et_fs_18">"Interactive Collections or Interactive Pages"
                means discussion pages, bulletin boards, social networking
                sites, or other forums provided by the Service.</p>

            <p class="et_dark_blue_text et_fs_18">The Service is available to customers who are
                at least 18 years old. By using this Site, you agree that
                your age is in line with the legal age to enter into a binding contract with and that you will comply
                with all legal requirements and consequences in this regard. If your age is not commensurate with these
                legal requirements referred to in this paragraph, you may not access or use the Site.</p>

            <p class="et_dark_blue_text et_fs_18">To help us protect our Users and avoid engaging
                in any money laundering activities that we may face
                during your subscription to our Website, may at its discretion, require all Users of the Website and/or
                the Application to provide us of your personal information and identification, as well as to obtain,
                verify, and record information that identifies each User who downloads the Application or creates an
                account on the same, including applicable Know your Customer (“KYC”) requirements. The User hereby
                acknowledges such information
                disclosure requirements and agrees to comply with the Terms
                and Conditions herein from time to time and to comply with the updates that we may request at any time,
                depending on our Risk Policy.</p>


            <!-- 2 -->
            <h4 class="et_fs_28 et_dark_blue_text et_ff_Gilroy-semi-bold">2. Use of our Website and our Services
            </h4>

            <p class="et_dark_blue_text et_fs_18">Please read the following Website Terms and Conditions, which relate
                to information regarding the general use of our Website. By using our Website, you are agreeing to these
                Terms and Conditions whether as a guest or registered user. By using our Website or Application, you are
                indicating you accept these terms of use and that you agree to abide by them. From time to time, we may
                change these Terms and Conditions and will post revisions on this website. We recommend that you read
                these Terms and Conditions before using our Website, and thereafter regularly review any changes, and
                you are responsible for doing so.</p>

            <h5>- Eligibility and Collection of Information</h5>

            <p class="et_dark_blue_text et_fs_18">
                The Service we provide herein is a personal finance information management service that aims to
                consolidate
                and keep you financially stable. If you have purchased a license, subscription, or otherwise agreed with
                us,
                you will also be governed by the terms of that agreement, which shall prevail in the event of a
                conflict.
                By purchasing a license, subscribing, or entering into an agreement with us, you hereby adhere to the
                following steps:
            </p>

            <div class="ms-5">
                <p class="et_dark_blue_text et_fs_18">
                    1. You will need to register on the website and add all details and User Information needed to
                    complete your
                    registration process, including but not limited to uploading your ID or your valid document to
                    verify your identity.
                </p>

                <p class="et_dark_blue_text et_fs_18">
                    2. After reviewing your up-to-date information, you will be directed to the relevant Circle.
                </p>

                <p class="et_dark_blue_text et_fs_18">
                    3. After being directed to the Circle that matches your needs, you will have to choose (i) the
                    monthly PayIn
                    amount you want to save within the Cycle; (ii) the PayOut amount of the Circle; (iii) your allocated
                    Slot in
                    the Circle; (collectively, the “Circle Information”).
                </p>

                <p class="et_dark_blue_text et_fs_18">
                    4. After you confirm your Circle, we will review your Circle Information in terms of the
                    feasibility, subject
                    to the Terms and Conditions contained herein. By confirming your Circle Information, you agree to be
                    fully
                    and legally bound by the Circle, your PayIn, and your Slot.
                </p>

                <p class="et_dark_blue_text et_fs_18">
                    5. You will receive a message/email from us on your phone number and/or your email account linked to
                    your account
                    authorising you to your Circle. If you did not receive our authorisation, this entails our declining
                    your
                    subscription. You hereby acknowledge that we may decline your subscription, not validate your
                    signing up,
                    or reject your subscription for any reason at our discretion.
                </p>
            </div>


            <p class="et_dark_blue_text et_fs_18">Your email and phone number will be directly linked to your account on
                the application, the Circle on a full basis, and you cannot use your phone number or email to create
                another account on our database. The currency used in services for all users is the Great British Pound,
                and users must pay using our GBP account.</p>

            <p class="et_dark_blue_text et_fs_18">The Customer hereby represents and warrants the correctness and
                accuracy of all the information and data entered into the website for the registration process.
                Notwithstanding the foregoing, in no event will we be responsible or liable for any misrepresentation of
                any of the customers, and we shall not be liable for any damage, prejudice, or loss caused by the
                misrepresentation of the customers. Given that the website is reserved for ROSCA Customers, its use will
                be limited to the customers only.</p>

            <p class="et_dark_blue_text et_fs_18">The Customer shall be fully liable and responsible for the secrecy of
                the confidential information disclosed by the latter, and ’ sole obligation in this respect will be to
                undertake to keep and maintain all the information of the customer confidential.</p>

            <p class="et_dark_blue_text et_fs_18">Interfriends may, at its sole discretion, accept or reject any demand
                received to participate in ROSCA without incurring any liabilities.</p>

            <p class="et_dark_blue_text et_fs_18">Interfriends may, at its sole discretion, determine and identify the
                timeline of the ROSCA according to the goodwill of the programme and the customers.</p>

            <p class="et_dark_blue_text et_fs_18">The Customer shall provide all the documents evidencing the
                correctness of the information entered thereby, in particular, a valid copy of their ID.</p>

            <p class="et_dark_blue_text et_fs_18">The Customer shall inform us in case of a change of address or any
                relevant information, whether by following the steps on the application, by sending an email to us.</p>

            <p class="et_dark_blue_text et_fs_18">The Customer shall inform us if the former leaves, resigns, or quits
                its work for any reason whatsoever. At this event, Interfriends will be entitled at its sole discretion
                to amend the payment schedule or accelerate the payment and declare all the outstanding amounts as due
                on the customer.</p>

            <p class="et_dark_blue_text et_fs_18">The Customer hereby delegates Interfriends to set off any amounts due
                on the customer to Interfriends.</p>

            <p class="et_dark_blue_text et_fs_18">The Customer acknowledges and certifies its awareness that the rank in
                any circle of the ROSCA, nor withdrawing therefrom.</p>

            <!-- 3 -->
            <h4 class="et_fs_28 et_dark_blue_text et_ff_Gilroy-semi-bold">3. Service Fees</h4>

            <p class="et_dark_blue_text et_fs_18">
                There is no service fee payable for participating in the savings Cycle.
            </p>

            <!-- 3.1 -->
            <div style="margin-left: 24px;">
                <h5 class="et_fs_20 et_dark_blue_text et_ff_Gilroy-semi-bold">3.1 Provident deduction</h5>
                <p class="et_dark_blue_text et_fs_18">
                    Interfriends deducts a percentage of the total payout as Provident at the time of payout. This is a
                    prerequisite for participation in the Circle. The Provident is a safety fund held by Interfriends
                    for the member, and it acts as a safety net and a risk pot. The Provident is held with Interfriends
                    until the member decides to leave Interfriends. On a case-by-case basis, Interfriends...
                </p>
            </div>

            <!-- 4 -->
            <h4 class="et_fs_28 et_dark_blue_text et_ff_Gilroy-semi-bold">4. Payment Modalities</h4>
            <p class="et_dark_blue_text et_fs_18">
                Payment into Interfriends is currently via our bank account only. No other payment method is available.
                As for the employees, Interfriends enables such Customers to pay by way of deduction from their monthly
                salary. In this case, the payment will be effected from the salary of the Customer who, by accepting our
                terms and conditions, is delegating to address its employing authority to deduct the fee due to the
                Customer to Interfriends.
            </p>
            <p class="et_dark_blue_text et_fs_18">
                In the event the customer does not receive its monthly dues or salary, then the Customer undertakes and
                warrants to pay and settle all due amounts thereon from its savings and patrimony. Failure to pay on the
                due date will imply a reduction in the Customer’s Trust Score. The customer receives a receipt against
                payment upon paying each of the installments due thereon with Interfriends.
            </p>

            <!-- 5 -->
            <h4 class="et_fs_28 et_dark_blue_text et_ff_Gilroy-semi-bold">5. Privacy</h4>
            <p class="et_dark_blue_text et_fs_18">
                Use of the data that you provide us, or which is collected by us on our Website, is governed by our
                Privacy Policy. By using our site(s), you consent to such processing.
            </p>

            <!-- 6 -->
            <h4 class="et_fs_28 et_dark_blue_text et_ff_Gilroy-semi-bold">6. Access to Interfriends Website</h4>
            <p class="et_dark_blue_text et_fs_18">
                We try to ensure that website availability is uninterrupted and that transmissions will be error-free.
                However, we cannot guarantee that your access will not be suspended or restricted from time to time,
                including to allow for repairs, maintenance, or the introduction of new facilities or services. We, of
                course, try to limit the frequency and duration of any suspension or restriction.
            </p>

            <!-- 7 -->
            <h4 class="et_fs_28 et_dark_blue_text et_ff_Gilroy-semi-bold">7. Accounts and Passwords</h4>
            <p class="et_dark_blue_text et_fs_18">
                If you have registered or subscribed to the Interfriends Website, any user identification code or
                password must be kept confidential and used only by you (unless agreed in writing with us). We have the
                right to disable any user identification code or password, whether chosen by you or allocated by us, at
                any time if, in our opinion, you have failed to comply with any of the provisions of these terms of use.
            </p>
            <p class="et_dark_blue_text et_fs_18">
                You agree to notify Interfriends immediately of any unauthorised access to or use of your username or
                password or any other breach of security.
            </p>
            <p class="et_dark_blue_text et_fs_18">
                You also agree to ensure that you exit/logout from your account at the end of each session. You should
                take particular caution when accessing your account from a public or shared computer so that others are
                not able to view or record your password or other personal information.
            </p>

            <!-- 8 -->
            <h4 class="et_fs_28 et_dark_blue_text et_ff_Gilroy-semi-bold">8. Intellectual Property Rights</h4>

            <p class="et_dark_blue_text et_fs_18">
                The content, layout, design, data, databases, and graphics on this website are protected by the
                Intellectual Property Law and are owned by Interfriends. Unless expressly permitted in writing in a
                license agreement, no part of the Website may be reproduced, stored in any medium, including but not
                limited to a retrieval system, or transmitted, in any form or by any means (electronic, mechanical,
                photocopying, recording, broadcasting) nor shown in public other than by Interfriends, which you may
                download and store for your personal, non-commercial use only.
            </p>

            <p class="et_dark_blue_text et_fs_18">
                You may not create any derivative work or make any other adaptation without our prior written consent.
                You must not modify the copies we have displayed or printed in any way, and you may not use any
                illustrations, photographs, videos, audio sequences, or any graphics separately from any accompanying
                text.
            </p>

            <p class="et_dark_blue_text et_fs_18">
                Any permitted use of our material is subject to ensuring that our copyright notices and trademarks
                appear as they do on all copies online and customary bibliographical citations, including author
                attribution, date, article title (where applicable), and the URL to the relevant website sections are
                included. If you print off or download any material from our website(s) in breach of these terms of use,
                any rights to use our site(s) will cease immediately, and you must at our option return or destroy any
                copies of the materials you have made. All rights not expressly granted in these terms or any express
                written license are reserved.
            </p>

            <p class="et_dark_blue_text et_fs_18">
                The trademarks and logos that are displayed on the Website are the trademarks of Interfriends and its
                licensors. Any use, including framing, metatags, or other text utilising the Interfriends trademarks or
                other trademarks displayed, is strictly prohibited without our (or our licensor’s) express written
                consent.
            </p>

            <!-- 9 -->
            <h4 class="et_fs_28 et_dark_blue_text et_ff_Gilroy-semi-bold">9. Third-Party Links</h4>

            <p class="et_dark_blue_text et_fs_18">
                Our Website contains links, including hyperlinks, which may take you outside the Website. Links are
                provided for your convenience, and the inclusion of any link does not imply endorsement or approval by
                us of the linked website, its operator, or its content. We have no control over the contents or
                functionality of those sites and accept no responsibility for any loss or damages that may arise from
                your use of them. We are not responsible for any website outside the Website, and such website use will
                be subject to the relevant terms and conditions and privacy policies.
            </p>

            <p class="et_dark_blue_text et_fs_18">
                You may not provide a link that suggests a form of association, approval, or endorsement on our part
                unless we have expressly agreed to this in writing.
            </p>

            <p class="et_dark_blue_text et_fs_18">
                We reserve the right to withdraw any linking permission without notice to you or by amending these terms
                and conditions.
            </p>

            <!-- 10 -->
            <h4 class="et_fs_28 et_dark_blue_text et_ff_Gilroy-semi-bold">10. Browsers</h4>

            <p class="et_dark_blue_text et_fs_18">
                Please note: If you are using one of the popular “offline browsers” that allow you to download content
                from a site and read it later, please be aware that subject to ensuring that this amounts to only a
                small proportion of content, strictly for your personal non-commercial use, or where this amounts to
                “fair dealing” we impose one restriction on their use.
            </p>

            <p class="et_dark_blue_text et_fs_18">
                For us to provide reliable, continuous, and timely access to Interfriends for all users, we ask that you
                configure your offline browser to not request more than one page per 60 seconds. Be aware that
                non-compliance with this rule may result in your access to Interfriends being blocked until you contact
                us and resolve the problem.
            </p>

            <!-- 11 -->
            <h4 class="et_fs_28 et_dark_blue_text et_ff_Gilroy-semi-bold">11. Limitation of Liability</h4>

            <p class="et_dark_blue_text et_fs_18">
                To the fullest extent permitted by law, Interfriends expressly excludes:
            </p>

            <div class="et_dark_blue_text et_fs_18 ms-5">
                <ul style="list-style-type: disc; padding-left: 1rem;">
                    <li>All conditions, warranties, and other terms which might otherwise be implied by statute, common
                        law, or the law of equity;</li>
                    <li>Any liability caused by a force majeure event;</li>
                    <li>Any obligation of effectiveness or accuracy; and</li>
                    <li>Other than as set out below, any liability for any direct, indirect, or consequential loss or
                        damage incurred by you in connection with this Terms and Conditions, including by your use or
                        inability to use any information on our website or within any course subscribed to, via any
                        website linked to our website(s) and any material posted on it, including without limitation any
                        liability for loss of income or revenue, loss of business, loss of profits or contracts,
                        anticipated savings, loss of data, loss of goodwill, wasted time and for any other loss or
                        damage of any kind, howsoever and whether caused by tort including negligence, by breach of
                        contract or otherwise, even if foreseeable.</li>
                </ul>
            </div>

            <!-- 12 -->
            <h4 class="et_fs_28 et_dark_blue_text et_ff_Gilroy-semi-bold">12. Your Conduct</h4>

            <p class="et_dark_blue_text et_fs_18">
                You must not use the website in any way that causes or is likely to cause the website or access to it to
                be interrupted, damaged, or impaired in any way. You understand that you are solely responsible for all
                electronic communications and content sent from your computer to us. You must use the website for lawful
                purposes only.
            </p>

            <p class="et_dark_blue_text et_fs_18 ms-5">
                Additionally, you agree not to:
            </p>

            <div class="ms-5">
                <ul style="list-style-type: disc; padding-left: 1rem;">
                    <li>Use the Website in any manner that could disable, overburden, damage, or impair the Site or
                        interfere with any other party’s use of the Website, including their ability to engage in
                        real-time activities through the Website.</li>
                    <li>Use any robot, spider, or other automatic device, process, or means to access the Website for
                        any purpose, including monitoring or copying any of the material on the Website.</li>
                    <li>Use any manual process to monitor or copy any of the material on the Website or for any other
                        unauthorized purpose without our prior written consent.</li>
                    <li>Use any device, software, or routine that interferes with the proper working of the Website.
                    </li>
                    <li>Attempt to gain unauthorised access to, interfere with, damage or disrupt any parts of the
                        Website, the server on which the Website is stored, or any server, computer, or database
                        connected to the Website.
                    </li>

                    <li>Impersonate or attempt to impersonate Interfriends, an Interfriends employee, another user, or
                        any other person or entity (including, without limitation, by using e-mail addresses or screen
                        names associated with any of the foregoing).</li>
                    <li>Attack the Website via a denial-of-service attack or a distributed denial-of-service attack.
                    </li>
                    <li>Otherwise, attempt to interfere with the proper working of the Website.
                    </li>
                </ul>

            </div>

            <p class="et_dark_blue_text et_fs_18 mt-2">
                Without limiting the foregoing, we have the right to fully cooperate with any law enforcement
                authorities or court order requesting or directing us to disclose the identity or other information
                of anyone posting any materials on or through the Website. YOU WAIVE AND HOLD HARMLESS AND ITS
                AFFILIATES, LICENSEES, AND SERVICE PROVIDERS FROM ANY CLAIMS RESULTING FROM ANY ACTION TAKEN BY ANY
                OF THE FOREGOING PARTIES DURING OR AS A RESULT OF ITS INVESTIGATIONS AND FROM ANY ACTIONS TAKEN AS A
                CONSEQUENCE OF INVESTIGATIONS BY EITHER SUCH PARTIES OR LAW ENFORCEMENT AUTHORITIES.
            </p>

            <!-- 13 -->
            <h4 class="et_fs_28 et_dark_blue_text et_ff_Gilroy-semi-bold">13. Content Standards</h4>

            <p class="et_dark_blue_text et_fs_18">
                These Website Terms and Conditions permit you to use the Website for your personal, non-commercial use
                only. You must not use the website for any of the following:
            </p>

            <div class="ms-5">
                <ul style="list-style-type: disc; padding-left: 1rem;">
                    <li>For fraudulent purposes or in connection with a criminal offense or otherwise carry out any
                        unlawful activity, including violations of applicable national, state, local, or international
                        law or regulation (including, without limitation, any laws regarding the export of data or
                        software to and from the United Kingdom or other countries).</li>
                    <li>To send, use or re-use any material that is illegal, offensive, abusive, indecent, harmful,
                        defamatory, obscene or menacing, racist, abusive, threatening, defamatory, invasive of privacy,
                        in breach of confidence, infringes any intellectual property rights, or is otherwise injurious
                        to third parties; or objectionable; or which consists of or contains software viruses, trojan
                        horses, worms, time bombs, logic bombs, keystroke loggers, spyware, adware or any other harmful
                        or similar computer code designed to adversely affect the operation of any computer software or
                        hardware, political campaigning, commercial solicitation, chain letters, mass mailings or any
                        spam.</li>
                    <li>To cause annoyance, inconvenience, or needless anxiety.</li>
                    <li>To impersonate any third party or otherwise mislead as to the origin of your content.</li>
                    <li>To exploit, harm, or attempt to exploit or harm minors in any way by exposing them to
                        inappropriate content, asking for personally identifiable information, or otherwise.</li>
                    <li>To promote sexually explicit or pornographic material, violence, or discrimination based on
                        race, sex, religion, nationality, disability, sexual orientation, or age.</li>
                    <li>To send, knowingly receive, upload, download, use, or re-use any material which does not comply
                        with these Content Standards.</li>
                    <li>To reproduce, duplicate, copy, or resell any part of our Website in contravention of these terms
                        of use or any other agreement with Interfriends.</li>
                    <li>To infringe any patent, trademark, trade secret, copyright, or other intellectual property or
                        other rights of any other person.</li>
                </ul>
            </div>

            <!-- 14 -->
            <h4 class="et_fs_28 et_dark_blue_text et_ff_Gilroy-semi-bold">14. Linking to the Website and Social Media
                Features</h4>

            <p class="et_dark_blue_text et_fs_18">
                You may link to our homepage, provided you do so in a way that is fair and legal and does not damage our
                reputation or take advantage of it, but you must not establish a link in such a way as to suggest any
                form of association, approval or endorsement on our part without our prior express written consent.
            </p>

            <p class="et_dark_blue_text et_fs_18">
                This Website may provide certain social media features that enable you to:
            </p>

            <div class="ms-5">
                <ul style="list-style-type: disc; padding-left: 1rem;">
                    <li>Link from your own or certain third-party websites to certain content on this Website.</li>
                    <li>Send e-mails or other communications with certain content, or links to certain content, on this
                        Website.</li>
                    <li>Cause limited portions of content on this Website to be displayed or appear to be displayed on
                        your own or certain third-party websites.</li>
                </ul>
            </div>

            <p class="et_dark_blue_text et_fs_18">
                You may use these features solely as they are provided by us, and solely for the content they are
                displayed with, and otherwise per any additional terms and conditions we provide for such features.
                Subject to the foregoing, you must not:
            </p>

            <div class="ms-5">
                <ul style="list-style-type: disc; padding-left: 1rem;">
                    <li>Establish a link from any website that is not owned by you.</li>
                    <li>Cause the Website or portions of it to be displayed, or appear to be displayed by, for example,
                        framing, deep linking, or in-line linking, on any other site.</li>
                    <li>Link to any part of the Website other than the homepage.</li>
                    <li>Otherwise, take any action for the materials on this Website that is inconsistent with any other
                        provision of these terms of use.</li>
                </ul>
            </div>

            <p class="et_dark_blue_text et_fs_18">
                The website from which you are linking, or on which you make certain content accessible, must comply in
                all respects with the Content Standards set out in these terms of use.
            </p>

            <p class="et_dark_blue_text et_fs_18">
                You agree to cooperate with us in causing any unauthorised framing or linking to cease immediately. We
                reserve the right to withdraw linking permission without notice. Additionally, we may disable all or any
                social media features and any links at any time without notice in our discretion.
            </p>

            <!-- 15 -->
            <h4 class="et_fs_28 et_dark_blue_text et_ff_Gilroy-semi-bold">15. Indemnification</h4>

            <p class="et_dark_blue_text et_fs_18">
                The Customer hereby undertakes to immediately indemnify Interfriends, its directors, employees, and
                affiliates against and for any loss, harm, claims, obligations, expenses (including legal costs and
                attorney fees) caused by your default to our terms and conditions or any other damage that may be caused
                by your misuse of the Website or the Application.
            </p>

            <!-- 16 -->
            <h4 class="et_fs_28 et_dark_blue_text et_ff_Gilroy-semi-bold">16. Governing Law and Jurisdiction</h4>

            <p class="et_dark_blue_text et_fs_18">
                To the fullest extent permitted by law, these terms shall be governed and construed per the laws of the
                United Kingdom, whose courts shall have exclusive jurisdiction.
            </p>

            <!-- 17 -->
            <h4 class="et_fs_28 et_dark_blue_text et_ff_Gilroy-semi-bold">17. Disclaimers</h4>

            <p class="et_dark_blue_text et_fs_18">
                We try and ensure our Website is available for use 24 hours per day, 7 days per week, other than for a
                small period for scheduled downtime, however, we do not warrant that at other times our Website will be
                available. To the fullest extent permitted by law, we will not be liable to you for damages or refunds
                should our sites become unavailable or access to a site becomes slow or incomplete due to system back-up
                procedures, internet traffic volume, upgrades, overload of requests to the servers, general network
                failures or delays, or any other cause which may from time to time make any of our Website inaccessible
                to you.
            </p>

            <p class="et_dark_blue_text et_fs_18">
                THE WEBSITE AND ALL INFORMATION CONTAINED HEREIN ARE PROVIDED “AS IS” WITH ALL FAULTS AND WITHOUT
                WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE WARRANTIES OF
                MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. WE MAKE NO WARRANTIES OR
                REPRESENTATIONS REGARDING THE ACCURACY OR COMPLETENESS OF THE INFORMATION. WE ASSUME NO RESPONSIBILITY
                FOR ERRORS OR OMISSIONS IN THIS PUBLICATION OR OTHER DOCUMENTS WHICH ARE REFERENCED BY OR LINKED TO THIS
                WEBSITE. INFORMATION CONTAINED HEREIN IS SUBJECT TO CHANGE WITHOUT NOTICE.
            </p>

            <!-- 17 - Continued -->
            <p class="et_dark_blue_text et_fs_18">
                You understand that we cannot and do not guarantee or warrant that files available for downloading from
                the internet or the Website will be free of viruses or other destructive code. You are responsible for
                implementing sufficient procedures and checkpoints to satisfy your particular requirements for
                anti-virus protection and accuracy of data input and output, and for maintaining a means external to our
                Website for any reconstruction of any lost data. WE WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY
                A DISTRIBUTED DENIAL-OF-SERVICE ATTACK, VIRUSES,
                OR OTHER TECHNOLOGICALLY HARMFUL MATERIAL THAT MAY INFECT YOUR COMPUTER EQUIPMENT, COMPUTER PROGRAMS,
                DATA, OR OTHER PROPRIETARY MATERIAL DUE TO YOUR USE OF THE WEBSITE OR ANY SERVICES OR ITEMS OBTAINED
                THROUGH THE WEBSITE OR TO YOUR DOWNLOADING OF ANY MATERIAL POSTED ON IT, OR ON ANY WEBSITE LINKED TO IT.
            </p>

            <p class="et_dark_blue_text et_fs_18">
                If the Website contains links to other sites and resources provided by third parties, these links are
                provided for your convenience only. This includes links contained in advertisements, including banner
                advertisements and sponsored links. We have no control over the contents of those sites or resources and
                accept no responsibility for them or for any loss or damage that may arise from your use of them. If you
                decide to access any of the third-party websites linked to this Website, you do so entirely at your own
                risk and subject to the terms and conditions of use for such websites.
            </p>


        </div>
    </div>
</section>


<app-home-footer></app-home-footer>