
<app-header></app-header>
<a href="javascript:void(0);" (click)="backClicked()" class="back_navigator">
  <img src="assets/images/back-btn.png" alt="back button" title="Back to prevoius view">
</a>
<section class="top-space container saving-acc-outer">
  <div class="row padd-t-b pb-0">
    <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 saving-acc-box">
      <div class="inner-box">
        <h6 class="extra-hding">Emergency Loan</h6>
        <h2 class="main-hding">
          <span *ngIf="!isLoading">
            <span *ngIf="status == '1'">{{avgAmount| currency:'GBP': 'symbol' : '1.0-0'}}</span>
            <span *ngIf="status == '2'">{{avgComplete| currency:'GBP': 'symbol' : '1.0-0'}}</span>
          </span>
          <span *ngIf="isLoading"><i class="fa fa-refresh fa-spin"></i></span>
        </h2>
        <p class="sub-para m-0" *ngIf="status == '1'">Total Active emergency loans</p>
        <p class="sub-para m-0" *ngIf="status == '2'">Total Complete emergency loans</p>
      </div>
    </div>
  </div>
</section>

<section class="savings-box container">
  <h2 class="section-title mb-5">Your Emergency Loans</h2>
  <div class="row">
    <div class="col-lg-12">
      <ul class="nav nav-tabs bg-blue" id="myTab">
        <li class="nav-item">
          <a class="nav-link active" id="savings-tab" data-toggle="tab" href="#savings" (click)="onSetStatus('1')">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" (click)="onSetStatus('2')">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="staus-tab" data-toggle="tab" href="#status">Application Status</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="savings">
          <div class="row">
            <div  class="col-lg-12"  *ngIf="isLoading">
              <mat-spinner  class="mx-auto"></mat-spinner>
            </div>
            <div class="col-lg-12" *ngIf="laonActive.length > 0 && !isLoading">
                  <div class="box-line-white active-emloan-box rounded-0 py-4 click-accordion" *ngFor="let data of laonActive; let i = index">
                    <div class="row d-flex align-items-center pl-lg-5 pl-0">
                      <div class="col-sm-6 mb-sm-0 mb-4">
                        <div class="row">
                          <div class="col-lg-6 col-sm-12 col-6 mb-lg-0 mb-sm-4 mb-4">
                            <h6 class="loan-sm-text">Loan Date</h6>
                            <h5 class="loan-hl-text">{{data.active_date | date: 'dd MMM yyyy'}}</h5>
                          </div>
                          <div class="col-lg-6 col-sm-12 col-6 mb-lg-0 mb-sm-4 mb-2">
                            <h6 class="loan-sm-text">Pay by</h6>
                            <h5 class="loan-hl-text">{{data.pay_by| date: 'dd MMM yyyy'}}</h5>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="row">
                          <div class="col-lg-6 col-sm-12 col-6 mb-lg-0 mb-sm-4 mb-4 mt-sm-0 mt-2">
                            <h6 class="loan-sm-text">Loan Amt</h6>
                            <h5 class="loan-hl-text">{{data.loan_amount| currency:'GBP': 'symbol' : '1.0-0'}}</h5>
                          </div>
                          <div class="col-lg-6 col-sm-12 col-6 mb-lg-0 mb-sm-4 mb-4 mt-sm-0 mt-2">
                            <h6 class="loan-sm-text">Status</h6>
                            <h5 class="loan-hl-text text-success" *ngIf="data.status == 4">Active/Late</h5>
                            <h5 class="loan-hl-text text-success" *ngIf="data.status == 2">complete</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-5 d-block text-center" *ngIf="laonActive.length <= 0 && !isLoading">
                    <img src="assets/images/no-data.png" class="img-fluid mb-2">
                    <h1 class="">Oops!No Data Found</h1>
                  </div>
                </div>
          </div>
        </div>
        <div class="tab-pane fade show" id="history">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h3 class="mt-5">Total emergency collected to date</h3>
            </div>
          </div>
          <div class="row" *ngIf="laonComplete.length > 0 && !isLoading">
            <div class="col-lg-4 col-sm-6" *ngFor="let data of laonComplete;let i = index">
              <div class="box-line-white red-line py-4" *ngIf="data.paid_status==='2'">
                <div class="mb-3">
                  <img src="assets/images/investment.png" class="img-fluid">
                </div>
                <h4 class="main-hding">{{data.loan_amount| currency:'GBP': 'symbol' : '1.0-0'}}</h4>
                <p class="sub-para">{{data.complete_date| date: 'dd MMM yyyy'}}</p>
                <div class="bg-payment">Fully Paid</div>
              </div>
              <div class="box-line-white blue-line py-4" *ngIf="data.paid_status!=='2'">
                <div class="mb-3">
                  <img src="assets/images/investment.png" class="img-fluid">
                </div>
                <h4 class="main-hding">{{data.loan_amount| currency:'GBP': 'symbol' : '1.0-0'}}</h4>
                <p class="sub-para">{{data.complete_date| date: 'dd MMM yyyy'}}</p>
                <div class="bg-payment">Fully Paid</div>
              </div>
            </div>
          </div>
          <div class="row mt-5 d-block text-center" *ngIf="laonComplete.length <= 0 && !isLoading">
            <img src="assets/images/no-data.png" class="img-fluid mb-2">
            <h1 class="">Oops!No Data Found</h1>
          </div>
        </div>
        <div class="tab-pane fade" id="status">
          <div class="tab-pane fade show active" id="savings">
              <div class="row" *ngIf="laonPending.length > 0 && !isLoading">
                <div class="col-lg-4 col-sm-6" *ngFor="let data of laonPending">
                  <div class="box-line-white blue-line py-4 position-relative">
                    <div class="mb-3">
                      <img src="assets/images/investment.png" class="img-fluid">
                    </div>
                    <h4 class="main-hding">{{data.loan_amount| currency:'GBP': 'symbol' : '1.0-0'}}</h4>
                    <p class="sub-para">{{data.created_at| date: 'dd MMM yyyy'}}</p>
                    <div class="bg-payment">Pay by: {{data.pay_by| date: 'dd MMM yyyy'}}</div>
                    <div class="status status-pending">
                      <span *ngIf="data.status === '1'">Pending</span>
                      <span *ngIf="data.status === '4'">Accepted</span>
                      <span *ngIf="data.status === '3'">Declined</span>
                      <span *ngIf="data.status === '2'">Completed</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-5 d-block text-center" *ngIf="laonPending.length <= 0 && !isLoading">
                <img src="assets/images/no-data.png" class="img-fluid mb-2">
                <h1 class="">Oops!No Data Found</h1>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-sub-menu></app-sub-menu>
<app-mobile-menu></app-mobile-menu>
<app-footer></app-footer>
