.modal-dialog-scrollable .modal-content {
    overflow-y: auto !important;
}

.et_info_top_icon {
    position: absolute;
    top: 50%;
    right: 10px;
    background: transparent;
    padding: 0;
    line-height: 1;
    /* transform: translateY(-50%); */
    border: 0;
    box-shadow: none;
}

.ct_grid_7 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    flex: 1;
    gap: 15px
}

@media screen and (max-width:991px) {
    .ct_grid_7 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:575px) {
    .ct_grid_7 {
        grid-template-columns: repeat(2, 1fr);
    }
}