.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  min-width: 100%;
}

.h-fit-content {
  height: fit-content;
}

.status-badge {
  padding: 4px 8px;
  border-radius: 40px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
}

.badge-pending {
  background: #666666;
}

.badge-paid {
  background: #048227;
}

.badge-missed {
  background: #dc3545;
}

.badge-late {
  background: #eaad00;
}

.et_badge_top {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
}

@media screen and (max-width:1199px) {
  .ct_mt_0_mob {
    margin-top: 0px !important;
  }
}

@media screen and (max-width:767px) {
  .ct_max_width_50 {
    max-width: 50%;
  }

}