
<app-header></app-header>
<a routerLink="/user/investmentList" class="back_navigator">
  <img src="assets/images/back-btn.png" alt="back button" title="Back to prevoius view">
</a>
<section class="top-space container saving-acc-outer">
  <div class="row padd-t-b pb-0">
    <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 saving-acc-box">
      <div class="inner-box">
        <h6 class="extra-hding">Profit Account</h6>
        <h2 class="main-hding">
          <span *ngIf="!isLoading">{{totalAmount| currency:'GBP': 'symbol' : '1.0-0'}}</span>
          <span *ngIf="isLoading"><i class="fa fa-refresh fa-spin"></i></span>
        </h2>
        <p class="sub-para m-0">Total dividend earned</p>
      </div>
    </div>
  </div>
</section>

<section class="savings-box container">
  <h2 class="section-title">Investment Dividend</h2>
  <div class="row" *ngIf="isLoading">
    <mat-spinner  class="mx-auto"></mat-spinner>
  </div>
  <div class="row" *ngIf="lists.length > 0 && !isLoading">
    <div class="col-lg-4 col-sm-6" *ngFor="let data of lists; let i = index">
      <div class="box-line-white blue-line">
        <div class="">
          <img src="assets/images/building.png" class="img-fluid">
        </div>
        <h4 class="main-hding">{{data.amount| currency:'GBP': 'symbol' : '1.0-0'}}</h4>
        <p class="sub-para">{{data.created_at| date: 'dd MMM yyyy'}}</p>
        <p class="extra-para">{{data.description}}</p>
      </div>
    </div>
    <div class="row" *ngIf="lists.length <= 0 && !isLoading">
      <div *ngIf="isLoading">
        <p>Data Not Found</p>
      </div>
    </div>
  </div>




</section>
<app-sub-menu></app-sub-menu>
<app-mobile-menu></app-mobile-menu>
<app-footer></app-footer>




