<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header border-0 justify-content-center">
      <div>
        <h5 class="modal-title" id="applyModalLabel">Apply for Emergency Help</h5>
        <!-- <p class="para-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit Pellentesque dapibus interdum auctor. Donec gravida dolor at mollis fringilla elit quota lesmon.</p> -->
      </div>
      <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close" id="closePopupLoanEmergencyRequest" (click)="onClose()">
        <img src="assets/images/close.png">
      </button>
    </div>
    <form class="theme-form" [formGroup]="form" (submit)="onSave()">
    <div class="modal-body border-0 pb-0">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <label class="hidden-label">Label</label>
              <div class="form-group">
                <input type="text" formControlName="loan_amount" placeholder="Enter Loan Amount" class="form-control">
                <div class="icon">
                  <img src="assets/images/amt.png" align="" alt="" title="">
                </div>
                <span class="error-form" *ngIf="form.get('loan_amount').invalid  && form.get('loan_amount').touched">
                  Please enter a loan amount.
                </span>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <label>When do you require payment select date</label>
              <div class="form-group">
                <input type="date" formControlName="pay_by" placeholder="Enter Loan Amount" class="form-control">
                <div class="icon">
                  <img src="assets/images/amt.png" align="" alt="" title="">
                </div>
                <span class="error-form" *ngIf="form.get('pay_by').invalid  && form.get('pay_by').touched">
                  Please enter a pay by.
                </span>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="form-group">
                <input type="text" formControlName="contact_number" placeholder="unique ID" class="form-control" [(ngModel)]='unique_ID'>
                <div class="icon">
                  <!-- <img src="assets/images/call-sm.png" align="" alt="" title=""> -->
                </div>
                <span class="error-form" *ngIf="form.get('contact_number').invalid  && form.get('contact_number').touched"  >
                  Please enter a unique ID.
                </span>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="form-group">
                <select class="form-control" formControlName="gurarantor">
                  <option  value=''>select gurarantor</option>
                  <option [value]="data.user_id" *ngFor="let data of userList">{{data.first_name+' '+data.last_name}}</option>
                </select>
                <div class="icon hide-caret"></div>
                <div class="icon">
                  <img src="assets/images/caret.png" align="" alt="" title="">
                </div>
                <span class="error-form" *ngIf="form.get('gurarantor').invalid  && form.get('gurarantor').touched">
                  Please select a gurarantor.
                </span>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="modal-footer justify-content-center border-0">
      <button class="btn-cstm btn-blue mt-3 min-width-230" type="submit" [disabled]="isLoading">
        <span>Apply</span>
      </button>
    </div>
  </form>
  </div>
</div>
