<div class="et_main_banner_bg" style="height: 395px;">

    <app-home-header></app-home-header>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="et_banner_section text-center">
                        <h2 class="et_fs_40 et_ff_Gilroy-Bold text-white mb-0">Interfriends Co-operative</h2>
                        <ul class="et_breadcrumb">
                            <li>
                                <a routerLink="/home" class="et_orange_text">Home</a>
                            </li>
                            <li><i class="fa-solid fa-angle-right"></i></li>
                            <li>Interfriends Co-operative</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>





<section class="et_pt_83 et_pb_83 et_pt_res_0">
    <div class="container">
        
        <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">
                <h4 class="et_fs_28 et_ff_Gilroy-semi-bold et_orange_text">About Interfriends Co-operative
                </h4>
                <ul class="et_list_style_disc mt-3">
                    <li>
                        Interfriends Co-operative is registered in England as a registered society under the
                        Co-operative and Community Benefit Societies Act 2014
                    </li>
                    <li class="mt-2">As a co-operative, we exist for the benefit of the members who have invested in our
                        co-operative business</li>

                    <li>
                        Interfriends Co-operative membership is open to interfriends members only
                    </li>
                    <li class="mt-2">As a Co-operative, our vision is to collectively pull our resources together to own
                        and run businesses for the benefit of our members and the community</li>
                    <li>
                        At Interfriends Co-operative, we believe in the power of leveraging our efforts to succeed
                        together
                    </li>
                </ul>

                <!-- <h4 class="et_fs_28 mt-4 et_ff_Gilroy-semi-bold et_orange_text">Organised Cycles
                </h4>
                <ul class="et_list_style_disc mt-3">
                    <li>
                        Interfriends operate in two Cycles of six months per Cycle. All members start and end the
                        Cycle at the same time.
                    </li>
                </ul> -->

                <h4 class="et_fs_28 mt-4 et_ff_Gilroy-semi-bold et_orange_text">How our Co-operative works</h4>
                <ul class="et_list_style_disc mt-3">
                    <li>Existing Interfriends members can apply for membership in the Co-operative</li>
                    <li class="mt-2">Membership criteria are to purchase and own at least one share in the Interfriends
                        co-operative</li>
                    <li>Your investment in the Co-operative business makes you a shareholder in the business</li>
                    <li class="mt-2">Your share in our Co-operative business entitles you to receive a dividend as the
                        business performs and becomes profitable</li>
                    <li>You can withdraw your shares at any point in time by providing us with the minimum notice period
                    </li>
                    <li class="mt-2">As a shareholder in our Co-operative business, you will have a say in how some of
                        our services are run</li>
                </ul>


                <h4 class="et_fs_28 mt-4 et_ff_Gilroy-semi-bold et_orange_text">How to become a member of the
                    Co-operative</h4>
                <ul class="et_list_style_disc mt-3">
                    <li>You have to be an existing Interfriends savings club member</li>
                    <li class="mt-2">You have to meet the minimum joining criteria to become a member</li>
                    <li class="mt-2">You should purchase a minimum of 1 share in the Co-operative</li>
                </ul>


                <h4 class="et_fs_28 mt-4 et_ff_Gilroy-semi-bold et_orange_text">How to become an Interfriends member
                </h4>
                <ul class="et_list_style_disc mt-3">
                    <li>Provide a link to where it says - Get Started from the Home Page</li>
                </ul>



            </div>

            <div class="col-md-5 mb-4 mb-md-0 offset-md-1">
                <div class="et_exlusive_img_card position-sticky" style="top: 0px;">
                    <figure>
                        <div class="et_exlusive_img">
                            <img src="assets/img/our-products/Proud.png" alt="">
                            <!-- <img src="assets/img/how-it-works/Frame.png" alt=""> -->
                        </div>

                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>


<app-home-footer></app-home-footer>