* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --orange: #f2994a;
  --dark_blue: #222e48;
  --ultra_light_blue: #092c4c0d;
  --light_orange_gradient: linear-gradient(270deg, #092c4c 0%, #fcb650 100%);
  --blue_bg: #092c4c;
  --grey_bg: #f4f4fc;
}
.et_orange_text {
  color: var(--orange);
}
.et_dark_blue_text {
  color: var(--dark_blue);
}
.et_ultra_lights_bg {
  background-color: var(--ultra_light_blue);
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
figure {
  margin-bottom: 0px;
}
p {
  word-break: break-word;
}
a,
a:hover {
  text-decoration: none;
}

/* space css S */
.et_pt_22 {
  padding-top: 22px;
}
.et_pt_83 {
  padding-top: 83px;
}
.et_pt_68 {
  padding-top: 68px !important;
}
.et_pb_83 {
  padding-bottom: 83px;
}
.et_pt_44 {
  padding-top: 44px;
}
/* space css E */

@font-face {
  font-family: Gilroy-Bold;
  src: url(../fonts/Gilroy-Bold.ttf);
}
@font-face {
  font-family: Gilroy-ExtraBold;
  src: url(../fonts/Gilroy-ExtraBold.ttf);
}
@font-face {
  font-family: Gilroy-Medium;
  src: url(../fonts/Gilroy-Medium.ttf);
}
@font-face {
  font-family: Gilroy-SemiBold;
  src: url(../fonts/Gilroy-SemiBold.ttf);
}
@font-face {
  font-family: Gilroy-Regular;
  src: url(../fonts/Gilroy-Regular.ttf);
}

.et_ff_Gilroy-Bold {
  font-family: Gilroy-Bold;
}
.et_ff_Gilroy-ExtraBold {
  font-family: Gilroy-ExtraBold;
}
.et_ff_Gilroy-Medium {
  font-family: Gilroy-Medium;
}
.et_ff_Gilroy-SemiBold {
  font-family: Gilroy-SemiBold;
}
.et_ff_Gilroy-Regular {
  font-family: Gilroy-Regular;
}

/* All font size S */
.et_fs_58 {
  font-size: 58px;
}
.et_fs_40 {
  font-size: 40px;
}
.et_fs_34 {
  font-size: 34px;
}
.et_fs_24 {
  font-size: 24px;
}
.et_fs_18 {
  font-size: 18px;
}
.et_fs_28 {
  font-size: 28px;
}
/* All font size E */
.et_orange_btn {
  padding: 12px 30px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--orange);
  background-color: var(--orange);
  transition: 0.4s ease all;
  z-index: 1;
  position: relative;
  color: #fff;
  line-height: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  font-size: 18px;
  font-weight: 500;
}
.et_orange_btn:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #fff;
  z-index: -1;
  transition: 0.4s ease all;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
}
.et_orange_btn:hover:before {
  transform: scaleX(1);
}
.et_orange_btn:hover {
  color: var(--orange);
}
/* Header Css S */

.et_main_banner_bg {
  background-image: url(../img/banner.png);
  background-position: 100% 62%;
  background-size: cover;
  height: 692px;
  position: relative;

  padding-block: 30px;
}
.et_main_banner_bg:before {
  content: "";
  position: absolute;
  inset: 0px;
  background-color: var(--blue_bg);
  opacity: 0.8;
  width: 100%;
  height: 100%;
}
.et_header {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  padding: 0px 60px;
}
.et_navbar ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
.et_navbar li a {
  position: relative;
  transition: 0.4s ease all;
  color: #fff;
  font-size: 18px;
}
.et_navbar li a:hover,
.et_navbar li a.active {
  color: var(--orange);
}
.et_navbar {
  flex: 1;
  padding-left: 10px;
}
.et_logo img {
  width: 100%;
  max-width: 110px;
  object-fit: contain;
}
.et_logo a {
  position: relative;
  z-index: 1;
}
.et_close_menu {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  transition: 0.4s ease all;
  color: #fff;

  display: none;
}
.et_close_menu:hover {
  transform: rotate(360deg);
}
.et_menu_bar {
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  display: none;
  z-index: 99;
}

.et_header.et_sticky_menu {
  position: fixed;
  background-color: var(--blue_bg);
  width: 100%;
  top: 0px;
  z-index: 9;
  animation: slideDown 0.35s ease-out;
  left: 0px;
  padding-block: 15px;
  z-index: 20;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
/* Header Css E */
/* Banner css S */
.et_banner_section {
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 100%;
  padding-inline: 30px;
  padding-top: 120px;

}

.et_fit_content {
  width: fit-content;
}
/* Banner css E */

/* Key Fact Css S */
.et_icon_key_fact {
  width: 79px;
  height: 79px;
  border-radius: 100px;
  border: 1px solid #dfe0e4;
  transition: 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin-inline: auto;
  margin-bottom: 24px;
}
.et_icon_key_fact img {
  width: 40px !important;
  height: 40px;
  object-fit: contain;
}

.et_key_fact_card {
  background-color: #e8eaf3;
  border: 10px solid #fff;
  border-radius: 15px;
  padding: 24px;
  position: relative;
  transition: 0.4s ease all;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  height: 100%;
}
.et_key_fact_card:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--dark_blue);
  height: 0%;
  width: 100%;
  transition: 0.4s ease all;
  z-index: -1;
}
.et_key_fact_card:hover * {
  color: #fff;
}
.et_key_fact_card:hover:before {
  height: 100%;
}

.et_key_fact_slider .owl-dots,
.et_testimonial_slider .owl-dots {
  display: none;
}
.et_key_fact_slider .owl-nav,
.et_testimonial_slider .owl-nav {
  text-align: center;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.et_key_fact_slider .owl-nav button,
.et_testimonial_slider .owl-nav button {
  width: 30px;
  height: 30px;
  background-color: #092c4c0d !important;
  border: 1px solid #092c4c !important;

  border-radius: 100px;
}

.et_key_fact_slider .owl-nav button span,
.et_testimonial_slider .owl-nav button span {
  font-size: 30px;
  line-height: 22px;
}
/* Key Fact Css E */

/* why choose us section css S */
.et_why_choose_bg,
.et_orange_gradient_bg {
  position: relative;
  z-index: 1;
  padding: 44px 0px;
}

.et_orange_gradient_bg {
  padding: 30px 27px;
}
.et_why_choose_bg:before,
.et_orange_gradient_bg:before {
  content: "";
  position: absolute;
  inset: 0px;
  background: var(--light_orange_gradient);
  z-index: -1;
  opacity: 0.1;
}
.et_why_choose_img {
  position: relative;
  width: 100%;
  max-width: 450px;
}
.et_why_choose_img img:first-child {
  width: 353px;
  height: 394px;
  object-fit: cover;
  border-radius: 4px;
}
.et_why_choose_img img:last-child {
  width: 255px;
  height: 225px;
  object-fit: cover;
  border-radius: 4px;
  position: absolute;
  bottom: 10px;
  right: 0px;
}
.et_text_clr_212529 {
  color: #212529;
}
.et_grid_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 30px;
}
.et_grid_2 img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.et_grid_2 p {
  font-size: 14px;
}

.et_video_img > img {
  width: 100%;
  max-width: 545px;
  height: 541px;
  object-fit: cover;
  filter: brightness(0.6);
}
/* why choose us section css E */

/* Trusted Css S */
.et_video_img {
  position: relative;
}
.et_video_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 20px solid #ffffff1f;
  border-radius: 100px;
}
.et_list_style_disc {
  list-style: disc;
  padding-left: 24px;
}
/* Trusted Css E */
/* Testimonial Section  css S */
.et_img_44 {
  width: 44px !important;
  height: 44px;
  border-radius: 100px;
  flex-shrink: 0;
  object-fit: cover;
}
.et_rating_star {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}
.et_rating_star i {
  color: #fcb650;
  font-size: 20px;
}

.et_line_h_34 {
  line-height: 34px;
}
img.et_quote_down_icon {
  width: 30px !important;
  text-align: end;
  position: relative;
  display: block;
  float: right;
  top: -70px;
}

.et_testimonial_section p {
  max-height: 150px;
  height: auto;
  overflow-y: auto;
}
.et_overlay_testimonial {
  position: relative;
  margin-top: -100px;
}
/* Testimonial Section  css E */
/* Project Count bg css S */
.et_project_counter_bg {
  background-image: url(../img/project_count_bg.png);
  padding-block: 94px;
  background-position: center;
  background-size: cover;
}

.et_badge {
  padding: 10px 30px;
  background-color: #0e5799;
  color: #fff;
  display: inline-block;
  margin-top: 10px;
  position: relative;
}
span.et_badge:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  top: -3px;
  left: 15px;
  background-color: #0e5799;
  transform: rotate(45deg);
}
.et_project_counter_card img {
  width: 50px;
  object-fit: contain;
  height: 50px;
}
/* Project Count bg css E */

/* Faq Css S */
.et_faq_img img {
  width: 100%;
  height: 512px;
  object-fit: cover;
}

.et_faq_question_main div#faq_accordionExample {
  border: 0px;
  background: transparent;
  border-radius: 0px;
}
.et_faq_question_main .accordion-item {
  border: 0px;
  background: transparent;
  border-radius: 0px;
}
.et_faq_question_main .accordion-item button.accordion-button {
  background: transparent;
  border-top: 1px solid #02010114;
  border-radius: 0px !important;
  padding-block: 19px;
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.et_faq_question_main .accordion-item button.accordion-button:focus {
  box-shadow: none;
}
.et_faq_question_main .accordion-button.collapsed::before {
  content: "";
  position: absolute;
  right: 6px;
  flex-shrink: 0;
  background-image: none;
  width: 2px;
  height: 15px;
  border-radius: 4px;
  background-color: #000;
}
.et_faq_question_main .accordion-button::after {
  background-image: none;
  width: 15px;
  height: 2px;
  position: absolute;
  right: 0px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #000;
}
.et_faq_question_main .accordion-button.collapsed::after {
  background-image: none;
  width: 15px;
  height: 2px;
  position: absolute;
  right: 0px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #000;
}
.et_line_h_30 {
  line-height: 30px;
}
/* Faq Css E */

/* Contact us section css S */
.et_border_btn_dotted {
  padding-bottom: 35px;
  border-bottom: 1px dashed #092c4c;
}
.et_white_bg {
  background-color: #fff;
  padding: 44px;
  border-radius: 16px;
}
.et_grey_input {
  height: 48px;
  background-color: #f7f9f9;
  border: 1px solid #dfe0e4;
}
/* Contact us section css E */

/* Footer css S */
.et_footer {
  background-color: var(--blue_bg);
  padding: 38px 15px;
  text-align: center;
  color: #fff;
}
/* Footer css E */

.et_breadcrumb {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}
.et_breadcrumb li {
  color: #fff;
  font-size: 18px;
}
.et_breadcrumb li a {
  font-size: 18px;
}

/* Our Product page css s */
.et_product_img {
  position: relative;
}
.et_product_img:before {
  content: "";
  position: absolute;
  background-color: var(--orange);
}
.et_product_img img {
  height: 187px;
  width: 100%;
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 50% 100%, 0 85%);
}

.et_product_card {
  background-color: var(--ultra_light_blue);
  overflow: hidden;
  height: 100%;
}
.et_product_card figcaption {
  padding: 10px;
  padding-bottom: 40px;
}
.et_product_img:before {
  content: "";
  position: absolute;
  background-color: var(--orange);
  width: 50%;
  height: 0px;
  z-index: 8;
  bottom: 5px;
  transform: rotate(11deg);
  left: -3px;
}
.et_product_card.active .et_product_img:before {
  height: 10px;
}
.et_product_img:after {
  content: "";
  position: absolute;
  background-color: var(--orange);
  width: 50%;
  height: 0px;
  z-index: 8;
  bottom: 5px;
  transform: rotate(-11deg);
  right: -3px;
}
.et_product_card.active .et_product_img:after {
  height: 10px;
}
.et_product_card.active .et_product_icon {
  background-color: var(--orange);
}
.et_product_icon {
  width: 79px;
  height: 79px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue_bg);
  margin-inline: auto;
  margin-top: -49.5px;
  position: relative;
  z-index: 999;
}
.et_product_icon img {
  width: 44px;
  height: 44px;
  object-fit: contain;
}
/* Our Product page css E */

/* About page css S */
.et_about_img img {
  width: 100%;
  height: 450px;
  object-fit: contain;
}

.et_trust_community_bg {
  position: relative;
}
.et_trust_community_bg:before {
  content: "";
  position: absolute;
  inset: 0px;
  background: var(--light_orange_gradient) !important;
  z-index: -1;
  opacity: 0.1;
}
.et_trusted_icon {
  width: 96px;
  height: 96px;
  border-radius: 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  position: relative;
}
.et_trusted_icon:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px dashed var(--blue_bg);
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 100px;
  transform: translate(-50%, -50%);
}
.et_overlay_trust {
  position: relative;
  z-index: 99;
  bottom: -66px;
}

.et_grid_5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 15px;
}
.et_exlusive_img img {
  height: 400px;
  object-fit: cover;
  width: 100%;
}
.et_exlusive_img_card {
  background-color: #fff;
  /* box-shadow: 0px 0px 0px 0px #00000000, 0px 0px 0px 0px #00000000; */
  box-shadow: 0px 0px 0px 0px #00000000, 0px 0px 0px 0px #00000000,
    0px 20px 25px -5px #0000001a, 0px 8px 10px -6px #00000040;

  border-radius: 20px;
  overflow: hidden;
}
.et_exlusive_img_card figcaption {
  padding: 30px 15px;
}
.et_custom_tab .nav-link.active,
.et_custom_tab .show > .nav-link {
  color: #fff;
  background-color: var(--orange);
}
.et_custom_tab .nav-link {
  color: #000;
  background-color: #e8eaf3;
  padding: 10px 15px;
  border-radius: 5px;
}
.et_custom_tab {
  gap: 10px;
}
/* About page css E */
.et_text_op_6 {
  opacity: 0.6;
}

.et_progress_bar {
  height: 10px;
}
.et_progress_bar .progress-bar {
  background-color: var(--orange);
}
