<div class="et_main_banner_bg" style="height: 395px;">

    <app-home-header></app-home-header>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="et_banner_section text-center">
                        <h2 class="et_fs_40 et_ff_Gilroy-Bold text-white mb-0">How It Works</h2>
                        <ul class="et_breadcrumb">
                            <li>
                                <a routerLink="/home" class="et_orange_text">Home</a>
                            </li>
                            <li><i class="fa-solid fa-angle-right"></i></li>
                            <li>How It Works</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<!-- Our Product Section S -->


<section class="et_pb_83">
    <section class="et_trust_community_bg et_pt_68">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="et_fs_34 et_ff_Gilroy-Bold et_orange_text mb-2">How It Works</h2>
                    <h4 class="et_dark_blue_text et_ff_Gilroy-SemiBold et_fs_28 et_fw_600">Simple step by step guide
                    </h4>
                    <p class="et_dark_blue_text et_fs_18">We simplify your financial journey by providing secure
                        savings, smart financial opportunities, and expert-led guidance on finance and
                        business—improving both your finances and overall wellbeing. From signing up to tracking
                        your funds, our seamless process ensures you stay in control with real-time updates and
                        expert-backed solutions.</p>
                </div>
            </div>

            <div class="et_overlay_trust">
                <div class="et_grid_5">
                    <div class="et_key_fact_card">
                        <div class="et_trusted_icon">
                            <img src="assets/img/how-it-works/icon_1.svg" alt="">
                        </div>
                        <div class="text-center mt-4">
                            <h4 class="et_fs_18 et_ff_Gilroy-semi-bold et_dark_blue_text">Receive a recommendation
                            </h4>
                            <p class="et_ff_Gilroy-Regular mb-0">Receive a recommendation from an existing member to
                                create an account
                            </p>
                        </div>
                    </div>
                    <div class="et_key_fact_card">
                        <div class="et_trusted_icon">
                            <img src="assets/img/how-it-works/icon_2.png" alt="">
                        </div>
                        <div class="text-center mt-4">
                            <h4 class="et_fs_18 et_ff_Gilroy-semi-bold et_dark_blue_text">Manage your finances
                            </h4>
                            <p class="et_ff_Gilroy-Regular mb-0">Join a Savings Circle or apply to create a bespoke
                                circle
                            </p>
                        </div>
                    </div>
                    <div class="et_key_fact_card">
                        <div class="et_trusted_icon">
                            <img src="assets/img/how-it-works/icon_3.png" alt="">
                        </div>
                        <div class="text-center mt-4">
                            <h4 class="et_fs_18 et_ff_Gilroy-semi-bold et_dark_blue_text">Track transactions
                            </h4>
                            <p class="et_ff_Gilroy-Regular mb-0">View your payments, and other products via your
                                dashboard
                            </p>
                        </div>
                    </div>
                    <div class="et_key_fact_card">
                        <div class="et_trusted_icon">
                            <img src="assets/img/how-it-works/icon_4.png" alt="">
                        </div>
                        <div class="text-center mt-4">
                            <h4 class="et_fs_18 et_ff_Gilroy-semi-bold et_dark_blue_text">Build Trust Score
                            </h4>
                            <p class="et_ff_Gilroy-Regular mb-0">Improve credibility for better opportunities
                            </p>
                        </div>
                    </div>
                    <div class="et_key_fact_card">
                        <div class="et_trusted_icon">
                            <img src="assets/img/how-it-works/icon_4.png" alt="">
                        </div>
                        <div class="text-center mt-4">
                            <h4 class="et_fs_18 et_ff_Gilroy-semi-bold et_dark_blue_text">Additional Benefits
                            </h4>
                            <p class="et_ff_Gilroy-Regular mb-0">Access additional benefits with increased Provident
                                and Trust score
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</section>


<section class="et_pt_83 et_pb_83 et_pt_res_0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 mb-4 mb-md-0">
                <h4 class="et_fs_28 et_ff_Gilroy-semi-bold et_orange_text">Exclusive Membership
                </h4>
                <ul class="et_list_style_disc mt-3">
                    <li>
                        Membership in any Interfriends Circle is by recommendation only. This ensures trust and
                        reliability within our community.
                    </li>
                    <li class="mt-2">Each Circle is limited to up to 25 closely connected members, e.g. family,
                        friends, school colleagues, work colleagues, etc.</li>
                </ul>

                <h4 class="et_fs_28 mt-4 et_ff_Gilroy-semi-bold et_orange_text">Organised Cycles
                </h4>
                <ul class="et_list_style_disc mt-3">
                    <li>
                        Interfriends operate in two Cycles of six months per Cycle. All members start and end the
                        Cycle at the same time.
                    </li>
                </ul>

                <h4 class="et_fs_28 mt-4 et_ff_Gilroy-semi-bold et_orange_text">Bespoke Circles
                </h4>
                <ul class="et_list_style_disc mt-3">
                    <li>
                        Apply to create a circle around you.(Control who can be in your circle; max 25 members)
                    </li>
                </ul>

                <div class="et_orange_gradient_bg mt-5">
                    <h5 class="et_ff_Gilroy-Bold et_fs_18 et_dark_blue_text mb-3">Your Payout Calculation</h5>
                    <p class="mb-1">Monthly savings × 6 months less Provident deduction</p>
                    <p class="d-flex align-items-center gap-2"><svg width="16" height="17" viewBox="0 0 16 17"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_262_554)">
                                <mask id="mask0_262_554" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0"
                                    y="0" width="16" height="17">
                                    <path d="M0 0.5H16V16.5H0V0.5Z" fill="white" />
                                </mask>
                                <g mask="url(#mask0_262_554)">
                                    <mask id="mask1_262_554" style="mask-type:luminance" maskUnits="userSpaceOnUse"
                                        x="0" y="0" width="16" height="17">
                                        <path d="M0 0.5H16V16.5H0V0.5Z" fill="white" />
                                    </mask>
                                    <g mask="url(#mask1_262_554)">
                                        <path
                                            d="M14.5781 3.11583L8.57812 0.615823C8.39356 0.539258 8.20138 0.500977 8.00156 0.500977C7.80175 0.500977 7.60956 0.539258 7.425 0.615823L1.425 3.11583C0.865625 3.34708 0.5 3.89395 0.5 4.5002C0.5 10.7033 4.07812 14.9908 7.42188 16.3846C7.79063 16.5377 8.20625 16.5377 8.575 16.3846C11.2531 15.269 15.5 11.4158 15.5 4.5002C15.5 3.89395 15.1344 3.34708 14.5781 3.11583ZM8.00313 14.4471L8 2.54083L13.4969 4.83145C13.3938 9.5627 10.9312 12.9908 8.00313 14.4471Z"
                                            fill="#6B7280" />
                                    </g>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_262_554">
                                    <rect width="16" height="16" fill="white" transform="translate(0 0.5)" />
                                </clipPath>
                            </defs>
                        </svg>
                        Provident contribution helps protect all members</p>
                </div>

            </div>
            <div class="col-md-5 mb-4 mb-md-0 offset-md-1">
                <div class="et_exlusive_img_card">
                    <figure>
                        <div class="et_exlusive_img">
                            <img src="assets/img/how-it-works/membership_img.png" alt="">
                            <!-- <img src="assets/img/how-it-works/Frame.png" alt=""> -->
                        </div>
                        <figcaption>
                            <ul class="nav nav-pills mb-3 et_custom_tab" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link et_ff_Gilroy-Medium active" id="pills-Savings-tab"
                                        data-bs-toggle="pill" data-bs-target="#pills-Savings" type="button" role="tab"
                                        aria-controls="pills-Savings" aria-selected="true">Savings</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link et_ff_Gilroy-Medium" id="pills-Savings-JNR-tab"
                                        data-bs-toggle="pill" data-bs-target="#pills-Savings-JNR" type="button"
                                        role="tab" aria-controls="pills-Savings-JNR" aria-selected="false">Savings
                                        JNR</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link et_ff_Gilroy-Medium" id="pills-Safe_Keeping-tab"
                                        data-bs-toggle="pill" data-bs-target="#pills-Safe_Keeping" type="button"
                                        role="tab" aria-controls="pills-Safe_Keeping" aria-selected="false">Safe
                                        Keeping</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link et_ff_Gilroy-Medium" id="pills-Provident-tab"
                                        data-bs-toggle="pill" data-bs-target="#pills-Provident" type="button" role="tab"
                                        aria-controls="pills-Provident" aria-selected="false">Provident</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-Savings" role="tabpanel"
                                    aria-labelledby="pills-Savings-tab">
                                    <div class="d-flex align-items-center justify-content-between gap-2 mb-2">
                                        <p class="mb-0 et_ff_Gilroy-Medium et_text_op_6">Overall Current Balance</p>
                                        <h6 class="et_fs_22 et_ff_Gilroy-Bold mb-0">£2,450.00</h6>
                                    </div>
                                    <div class="progress et_progress_bar">
                                        <div class="progress-bar" role="progressbar" style="width: 25%"
                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-Savings-JNR" role="tabpanel"
                                    aria-labelledby="pills-Savings-JNR-tab">
                                    <div class="d-flex align-items-center justify-content-between gap-2 mb-2">
                                        <p class="mb-0 et_ff_Gilroy-Medium et_text_op_6">Overall Current Balance</p>
                                        <h6 class="et_fs_22 et_ff_Gilroy-Bold mb-0">£2,450.00</h6>
                                    </div>
                                    <div class="progress et_progress_bar">
                                        <div class="progress-bar" role="progressbar" style="width: 25%"
                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-Safe_Keeping" role="tabpanel"
                                    aria-labelledby="pills-Safe_Keeping-tab">
                                    <div class="d-flex align-items-center justify-content-between gap-2 mb-2">
                                        <p class="mb-0 et_ff_Gilroy-Medium et_text_op_6">Overall Current Balance</p>
                                        <h6 class="et_fs_22 et_ff_Gilroy-Bold mb-0">£2,450.00</h6>
                                    </div>
                                    <div class="progress et_progress_bar">
                                        <div class="progress-bar" role="progressbar" style="width: 25%"
                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-Provident" role="tabpanel"
                                    aria-labelledby="pills-Provident-tab">
                                    <div class="d-flex align-items-center justify-content-between gap-2 mb-2">
                                        <p class="mb-0 et_ff_Gilroy-Medium et_text_op_6">Overall Current Balance</p>
                                        <h6 class="et_fs_22 et_ff_Gilroy-Bold mb-0">£2,450.00</h6>
                                    </div>
                                    <div class="progress et_progress_bar">
                                        <div class="progress-bar" role="progressbar" style="width: 25%"
                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="et_pb_83">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="et_orange_gradient_bg text-center py-5">
                    <h4 class="et_ff_Gilroy-Bold et_fs_28 et_dark_blue_text mb-2">Completely FREE to use</h4>
                    <p class="mb-1">No hidden charges. No surprise fees. Co-operative based approach to help the
                        community.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<app-home-footer></app-home-footer>