/*Meter CSS*/
.meter-credit-score-wrap {
  background: #092C4C;
  box-shadow: 0px 10px 30px rgba(31, 65, 247, 0.25);
  border-radius: 20px;
  max-width: 95%;
  margin: 0 auto;
  position: relative;
  padding: 20px 0 10px;
}

.meter-credit-score-wrap:before {
  content: '';
  width: 94%;
  height: 94%;
  background: transparent;
  border: 3px dashed #fff;
  position: absolute;
  display: block;
  border-radius: 10px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
}

.member-type {
  text-align: center;
  text-transform: capitalize;
  color: #B38D00;
}

.member-since {
  font-size: 18px !important;
}

mwl-gauge {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.box-one .main-hding .orange {
  font-size: 28px !important;
}

.orange {
  color: orange;
}

.ct_height_400 .ct_banner_media {
  height: 300px !important;
  object-fit: cover;
  max-width: 800px;
  margin: auto;
}

.ct_height_400 video.ct_banner_media {
  display: block;
  width: 100%;
}

.ct_height_400 {
  height: 300px !important;
  max-width: 800px;
  margin: auto;
}


.ct_center_div {
  display: grid;
  align-items: center;
  justify-content: center;
  word-break: break-all;
  font-size: 24px;
  line-height: 36px;
}


.ct_flex_item_div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  align-items: end;
}

.score-details-box ul {
  background: unset;
}

@media screen and (max-width:767px) {
  .next-arrow-hm {

    right: 5px;

  }
}

.ct_icon_bg {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  color: #fff;
  margin-block: 10px;
  cursor: pointer;
}

/* .ct_icon_bg.minus,
.ct_icon_bg_2.minus {
  background-color: #ea423a;
}

.ct_icon_bg.check,
.ct_icon_bg_2.check {
  background-color: #3da75c;
}

.ct_icon_bg.remove,
.ct_icon_bg_2.remove {
  background-color: #ea423a;
}

.ct_icon_bg i {
  font-weight: 100;
  font-size: 16px;
}


.ct_fs_24 {
  font-size: 18px;
}

.ct_score_fs_18 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
}





.ct_modal_logo {
  background-color: #f2994a;
  width: 86px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 86px;
  margin-inline: auto;
  margin-top: -59px;
}

.ct_modal_logo img {
  width: 100%;
  object-fit: contain;
}

.ct_fs_24 {
  font-size: 24px;
}

.ct_icon_bg_2 {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  color: #fff;
  margin-block: 10px;
  cursor: pointer;
}

.ct_icon_bg_2.last {
  width: 25px;
  height: 25px;
}

.ct_icon_list_2 {
  display: flex;
  grid-gap: 5px;
  gap: 5px;
  align-items: end;
  margin-top: 16px;
  position: absolute;
  left: 0;
  width: 100%;
  justify-content: center;
  bottom: 3px;
  font-size: 10px;
}


.ct_icon_bg_2.last {
  font-size: 13px;
  position: relative;
}

last::after {
  content: '';
  position: absolute;
  background: transparent;
  height: 31px;
  width: 31px;
  bottom: -3px;
  left: -3px;
  border: 2px solid red;
  border-radius: 50%;
} */

.ct_icon_list {
  background-color: #fff;
  width: fit-content;
  padding: 2px 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.09);
  border: 1px solid #d8d8d8;
}

.ct_fs_18 {
  font-size: 18px;
}

.ct_fs_24 {
  font-size: 24px;
}

.ct_score_fs_18 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
}

span.ct_show_more_bold {
  font-size: 22px;
  font-weight: 900;
  margin-top: 20px;
  display: block;
  cursor: pointer;
  text-align: center;
}

.ct_icon_bg_2.last {
  width: 25px;
  height: 25px;
}

.ct_icon_bg_2 {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  color: #fff;
  margin-block: 10px;
  cursor: pointer;
}

.ct_icon_bg_2.minus {
  background-color: #ea423a;
}

.ct_icon_bg_2.check {
  background-color: #3da75c;
}

.ct_icon_bg_2.remove {
  background-color: #ea423a;
}

.ct_icon_bg_2.clock {
  background-color: #6c757d;
}

.ct_icon_bg_2.last {
  font-size: 13px;
  position: relative;
}

.ct_icon_bg_2.last::after {
  content: '';
  position: absolute;
  background: transparent;
  height: 31px;
  width: 31px;
  bottom: -3px;
  left: -3px;
  border: 2px solid;
  border-radius: 50%;
}

.ct_icon_bg_2.minus.last::after {
  /* border-color: #a89d9d; */
  border-color: #eaad00;
}

.ct_icon_bg_2.check.last::after {
  border-color: #3da75c;
}

.ct_icon_bg_2.remove.last::after {
  border-color: #ea423a;
}

.ct_icon_bg_2.clock.last::after {
  border-color: #6c757d;
}

.ct_icon_list_2 {
  display: flex;
  grid-gap: 5px;
  gap: 5px;
  align-items: end;
  margin-top: 16px;
  position: absolute;
  left: 0;
  width: 100%;
  justify-content: center;
  bottom: 3px;
  font-size: 10px;
}

.ct_icon_bg_2 i {
  font-weight: 100;
  font-size: 16px;
}

.ct_icon_list {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-inline: 5px;
  justify-content: center;
}

.ct_icon_bg {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  color: #fff;
  margin-block: 10px;
  cursor: pointer;
}

.ct_icon_bg.minus,
.ct_icon_bg_2.minus {
  /* background-color: #a89d9d; */
  background-color: #eaad00;
}

.ct_icon_bg.check,
.ct_icon_bg_2.check {
  background-color: #3da75c;
}

.ct_icon_bg.remove,
.ct_icon_bg_2.remove {
  background-color: #ea423a;
}
























/* p {
    font-family: Lato;
}

:host {
    height: 100%;
    width: 100%;
}

.video-container {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    video {
        width: 100%;
        height: 100%;
    }

    button {
        background: none;
        outline: none;
        box-shadow: none;
        border: none;
        margin: 0;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        svg {
            fill: white;
            stroke: white;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            width: 100%;
            height: 100%;
        }

        &.rewind svg,
        &.fast-forward svg {
            stroke: none;
        }

        &.ripple {
            position: relative;

            &:after {
                content: "";
                background: rgba(255, 255, 255, 0.3);
                display: block;
                position: absolute;
                border-radius: 50%;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                width: 160px;
                height: 160px;
                margin: auto;
                opacity: 0;
                transition: all 0.5s;
            }

            &:active:after {
                height: 10px;
                width: 10px;
                opacity: 1;
                transition: 0s;
            }
        }
    }

    .video-controls-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 1;

        button {
            width: 160px;
            height: 160px;
            min-width: 160px;
            min-height: 160px;
            padding: 50px;
            background: rgba(0, 0, 0, 0.05);
            opacity: 1;
            overflow: hidden;
            border-radius: 50%;

            &:hover {
                opacity: 1;
                transform: scale(1.2);
            }
        }
    }

    .controls-container {
        position: absolute;
        bottom: 0px;
        width: 100%;
        min-height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
        transition: opacity 0.5s linear;
        z-index: 2;
    }

    .progress-controls {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 8px;

        .time-remaining {
            margin: 4px;
            width: 1;
        }

        .progress-bar {
            width: 100%;
            height: 3px;
            max-height: 7px;
            background: rgba(255, 255, 255, 0.2);
            display: flex;
            align-items: center;
            cursor: pointer;
            margin: 0 8px;
            position: relative;

            &.watched-bar,
            &.playhead {
                display: inline-block;
                transition: all 0.2s;
            }

            .watched-bar {
                height: 110%;
                width: 20%;
                background: #8b53f1;
                z-index: 1;
            }

            .loaded-bar {
                position: absolute;
                top: 0;
                left: 0;
                background: white;
                height: 100%;
                width: 20%;
                transition: all 0.2s;
            }

            .playhead {
                height: 16px;
                width: 16px;
                max-height: 16px;
                max-width: 16px;
                border-radius: 50%;
                background: #fff;
                z-index: 2;
                transition: all 0.2s;
            }

            &:hover {
                height: 8px;

                .playhead {
                    height: 20px;
                    width: 20px;
                    max-height: 20px;
                    max-width: 20px;
                }
            }
        }
    }

    .controls {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;

        button {
            width: 36px;
            height: 36px;
            min-width: 36px;
            min-height: 36px;
            opacity: 0.4;
            transform: scale(0.9);

            &:hover {
                opacity: 1;
                transform: scale(1.2);
            }

            &.volume svg path,
            &.full-screen svg,
            &.volume svg path {
                fill: none;
            }
        }

        .title {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0 8px;
            margin: 0;
            font-size: 1rem;

            .series {
                color: #fefefe;
                font-weight: bold;
                font-size: 1em;
                line-height: 1;
            }

            .episode {
                color: #a1a1a1;
                font-size: 0.75em;
                padding-left: 8px;
                line-height: 1;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .video-container .controls .title {
        display: none;
    }
}

.margin-left-auto {
    margin-left: auto !important;
}

.loader,
.loader:before,
.loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
    z-index: 100;
}

.loader {
    color: #ffffff;
    text-indent: -9999em;
    margin: 88px auto;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    position: absolute;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: "";
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
} */