
<app-header></app-header>
<a href="javascript:void(0);" class="back_navigator">
  <img src="assets/images/back-btn.png" alt="back button" title="Back to prevoius view">
</a>

<section class="profile-form-section mt-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <form class="profile-card" [formGroup]="form" (submit)="onSave()">
          <div class="row">
            <div class="col-lg-12">
              <h2 class="section-title">Update password</h2>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="form-group">
                <label class="form-label">Password</label>
                <input [type]="showStatus ? 'text' : 'password'"  name="" class="form-control" formControlName="password">
                <span class="help-block" *ngIf="form.get('password').invalid  && form.get('password').touched">
                  Please enter a Password.
                  </span>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="form-group">
                <label class="form-label">Password</label>
                <input [type]="showStatus ? 'text' : 'password'"  name="" class="form-control" formControlName="confirmPassword">
                <span class="help-block" *ngIf="form.get('confirmPassword').invalid  && form.get('confirmPassword').touched">
                  Confirm password.
                </span>
                <span class="help-block" *ngIf="checkPasswords() && !form.get('confirmPassword').invalid  && form.get('confirmPassword').touched">
                  Passwords do not match
                  </span>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="form-group">
                <input type="checkbox" (click)="showPassword()" >
                Show Password
              </div>
            </div>
            <div class="col-sm-12 text-center">
              <button type="submit" class="btn-cstm btn-orange mt-4 min-width-230" [disabled]="!isLoading">
                <span *ngIf="isLoading">Update</span>
                <span *ngIf="!isLoading"><i class="fa fa-refresh fa-spin"></i></span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<app-sub-menu></app-sub-menu>
<app-mobile-menu></app-mobile-menu>
<app-footer></app-footer>
