<ul class="mobile-tab-bar list-inline d-sm-none d-block">
  <li class="list-inline-item" routerLinkActive="active active-home">
    <a  routerLink="/user/dashboard" class="list-inline-item-link">
      <img src="assets/images/home-inactive.png" alt="Home Nav" title="Go to Home">
    </a>
  </li>
  <li class="list-inline-item" routerLinkActive="active active-apply">
    <a routerLink="/user/applyLoan" class="list-inline-item-link">
      <img src="assets/images/recommend-inactive.png" alt="Recommend Nav" title="Recommend a Friend">
    </a>
  </li>
  <li class="list-inline-item" routerLinkActive="active active-help">
    <a routerLink="/user/help" class="list-inline-item-link">
      <img src="assets/images/help-inactive.png" alt="Help Nav" title="Help">
    </a>
  </li>
  <li class="list-inline-item" routerLinkActive="active active-recommend">
    <a routerLink="/user/recommendUser" class="list-inline-item-link">
      <img src="assets/images/apply-inactive.png" alt="Apply Nav" title="Apply for Loans">
    </a>
  </li>
  <li class="list-inline-item" routerLinkActive="active active-contact">
    <a routerLink="/user/contactUs" class="list-inline-item-link">
      <img src="assets/images/contact-inactive.png" alt="Contact Nav" title="Contact Us">
    </a>
  </li>
</ul>

