<div class="bg-theme">
  <section class="overview-box container mt-3 pt-0 d-sm-block d-none">
    <div class="row">
        <div class="col-xl-10 offset-xl-1 col-12">
          <div class="row justify-content-center">
            <div class="col-md-4 col-sm-6">
              <a routerLink="/user/dashboard" class="box-line-white dark-line text-center d-block decoration-none">
                <div class="">
                  <img src="assets/images/dog-house.png" class="img-fluid">
                </div>
                <p class="extra-para">Home</p>
              </a>
            </div>
            <div class="col-md-4 col-sm-6">
              <a routerLink="/user/applyLoan" class="box-line-white dark-line text-center d-block decoration-none">
                <div class="">
                  <img src="assets/images/hint.png" class="img-fluid">
                </div>
                <p class="extra-para">Apply</p>
              </a>
            </div>
            <div class="col-md-4 col-sm-6">
              <a routerLink="/user/help" class="box-line-white dark-line text-center d-block decoration-none">
                <div class="">
                  <img src="assets/images/headset.png" class="img-fluid">
                </div>
                <p class="extra-para">Help</p>
              </a>
            </div>
            <div class="col-lg-4 col-sm-6">
              <a routerLink="/user/recommendUser" class="box-line-white dark-line text-center d-block decoration-none">
                <div class="">
                  <img src="assets/images/apply.png" class="img-fluid">
                </div>
                <p class="extra-para">Recommend a Friend</p>
              </a>
            </div>
            <div class="col-lg-4 col-sm-6">
              <a routerLink="/user/notificationList" class="box-line-white dark-line text-center d-block decoration-none">
                <div class="">
                  <img src="assets/images/big_notification.png" class="img-fluid">
                </div>
                <p class="extra-para">Notifications</p>
              </a>
            </div>

            <div class="col-lg-4 col-sm-6">
              <a routerLink="/user/term&condition" class="box-line-white dark-line text-center d-block decoration-none">
                <div class="">
                  <img src="assets/images/online-support.png" class="img-fluid">
                </div>
                <p class="extra-para">Term & Conditions</p>
              </a>
            </div>
            <div class="col-lg-4 col-sm-6">
              <a routerLink="/user/privacyPolicy" class="box-line-white dark-line text-center d-block decoration-none">
                <div class="">
                  <img src="assets/images/online-support.png" class="img-fluid">
                </div>
                <p class="extra-para">Privacy Policy</p>
              </a>
            </div>
             <div class="col-lg-4 col-sm-6">
              <a routerLink="/user/contactUs" class="box-line-white dark-line text-center d-block decoration-none">
                <div class="">
                  <img src="assets/images/online-support.png" class="img-fluid">
                </div>
                <p class="extra-para">Contact Us</p>
              </a>
            </div>
          </div>
        </div>
    </div>
  </section>
</div>

