a.navbar-brand {
  height: 100%;
}

.header-box img {
  max-width: 100px;
}

.et_close_inner {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
}

@media(max-width:768px) {
  a.navbar-brand {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }

  .header-menu .navbar {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

.img-fluid {
  max-width: 100%;
  height: 100%;
}

.profile-click img {
  width: 100%;
  object-fit: cover;
}