<app-header></app-header>
<a href="javascript:void(0);" (click)="backClicked()" class="back_navigator">
  <img src="assets/images/back-btn.png" alt="back button" title="Back to prevoius view">
</a>
<section class="top-space container saving-acc-outer">
  <div class="row padd-t-b pb-0 col-md-justify-content-center">
    <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-2 saving-acc-box md-offset-none">
      <div class="inner-box">
        <h6 class="extra-hding">Provident Fund</h6>

        <h2 class="main-hding">
          @if (!isLoading) {
            <span>{{pfAmount | currency:'GBP': 'symbol' : '1.0-0'}}</span>
          }
          @if (isLoading) {
            <span><i class="fa fa-refresh fa-spin"></i></span>
          }
        </h2>
        <p class="sub-para m-0">Total Provident Accrued</p>
      </div>
    </div>
    <!-- <div class="col-lg-4 col-md-6 saving-acc-box">
    <div class="inner-box">
      <h6 class="extra-hding">Provident Fund</h6>
      <h2 class="main-hding">
        <span *ngIf="!isLoading"> {{pfInterest | number:'1.0-0'}}</span>
        <span *ngIf="isLoading"><i class="fa fa-refresh fa-spin"></i></span>
      </h2>
      <p class="sub-para m-0">Total Interest Earned</p>
    </div>
  </div> -->
</div>
</section>

<section class="savings-box container">
  <h2 class="section-title">Your Provident Fund</h2>
  @if (isLoading) {
    <div class="row">
      <mat-spinner class="mx-auto"></mat-spinner>
    </div>
  }
  @if ((this.pfList.length > 0 && isLoadingD)) {
    <div class="col-lg-4 offset-lg-8 col-sm-8 mt-sm-5 mt-3">
      <div class="d-flex align-items-center gap-2">
        <h5 class="main-hding">Select Provident Fund</h5>
        <button type="button" class="et_info_top_icon btn btn-link p-0 border-0 text-dark"
        aria-label="Emergency Loans info" (click)="openInfoModal(
      'Your Provident Fund',
      'Select any savings cycle date to see how much you contributed to the Provident Fund for that cycle. The summary above shows your total Provident Fund accumulated to date.'
    );
    $event.preventDefault();
    $event.stopPropagation()">
          <i class="fa fa-info-circle" aria-hidden="true" style="padding-bottom:10px"></i>
        </button>
      </div>
      <div class="position-relative">
        <div ngbDropdown class="d-inline-block w-100">
          <button class="select-custom select-custom-img select-arrow-no mt-2 text-left" id="dropdownBasic1"
          ngbDropdownToggle>{{filterStartDate | date: 'dd MMM yyyy'}} - {{filterEndDate | date: 'dd MMM yyyy'}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            @for (data of pfListFiltered; track data) {
              <button ngbDropdownItem
                (click)="setCycle(data.main_id, data.start_date, data.end_date)">
                <hr>{{data.cycle_start_date | date: 'dd MMM yyyy'}} - {{data.cycle_end_date | date: 'dd MMM yyyy'}}
                </button>
              }
            </div>
          </div>
        </div>
      </div>
    }
    @if (pfList.length > 0 && !isLoading) {
      <div class="row">
        @for (list of pfList; track list; let i = $index) {
          <div class="col-lg-4 col-sm-6">
      <a href="javascript:void(0)" class="box-line-white d-block" [ngClass]="[
          list.payment_type === '2' ? 'blue-line' : '',
          list.payment_type === '1' ? 'red-line' : ''
        ]">
              <div class="mb-3">
                <img src="assets/images/provident.png" class="img-fluid">
              </div>
              <h4 class="main-hding">{{list.pf_amount| currency:'GBP': 'symbol' : '1.0-0'}} </h4>
              @if (list.cycle_start_date !== '' ) {
                <p class="sub-para date_celender"
                  (click)="linktoSavePage(list.cycle_start_date,list.cycle_end_date, list.main_id)">{{list.cycle_start_date |
                date: 'd MMM, y'}} - {{list.cycle_end_date | date: 'd MMM, y'}}</p>
              }
              @if (list.cycle_start_date === '') {
                <p class="sub-para">-</p>
              }
              <p class="sub-para">{{list.created_at | date: 'd MMM, y'}}</p>
              <p class="sub-para">{{groupTypeArray[list.group_type_id]}}</p>
            </a>
          </div>
        }
      </div>
    }

    @if (pfList.length <= 0 && !isLoading) {
      <div class="row">
        @if (isLoading) {
          <div>
            <p>Data Not Found</p>
          </div>
        }
      </div>
    }
  </section>

  <app-sub-menu></app-sub-menu>
  <app-mobile-menu></app-mobile-menu>
  <app-footer></app-footer>

  <a routerLink="/user/all-services" class="business-directory-fab" aria-label="Member Directory">
    <span class="business-directory-fab__icon">
      <i class="fa fa-briefcase" aria-hidden="true"></i>
    </span>
    <span class="business-directory-fab__text">Member Directory</span>
  </a>

  @if (showInfoModal) {
    <div class="modal fade show d-block" tabindex="-1" role="dialog" aria-modal="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ infoModalTitle }}</h5>
            <button type="button" class="close" aria-label="Close" (click)="closeInfoModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="mb-0">{{ infoModalMessage }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="closeInfoModal()">Close</button>
          </div>
        </div>
      </div>
    </div>
  }
  @if (showInfoModal) {
    <div class="modal-backdrop fade show" (click)="closeInfoModal()"></div>
  }