<section class="et_pt_83 et_pb_83">
    <div class="container">
        <h2 class="text-center et_ff_Gilroy-Bold et_orange_text mb-5 pb-3">Frequently Asked Questions</h2>
        <div class="row align-items-center">
            <div class="col-md-5 mb-4 mb-md-0">
                <div class="et_faq_img">
                    <img src="assets/img/faq_img.png" alt="">
                </div>
            </div>
            <div class="col-md-6 offset-md-1 mb-4 mb-md-0">
                <div class="et_faq_question_main">
                    <div class="accordion" id="accordionExample">

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button et_ff_Gilroy-Medium" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    Who are we?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body et_line_h_30 et_text_clr_212529 et_ff_Gilroy-Regular">
                                    <p>
                                        Interfriends is a savings club that helps members to diligently save money and
                                        also
                                        manage their finances by taking part in a savings circle.
                                    </p>
                                    <p>
                                        Interfriends is also a Co-operative where members become shareholders in the
                                        Interfriends Co-operative business
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed et_ff_Gilroy" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    I have heard of similar saving schemes, why should I trust Interfriends
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body et_line_h_30 et_text_clr_212529 et_ff_Gilroy-Regular">
                                    <p>
                                        Interfriends has been in operation for 15 years. We are trusted by our members
                                        for
                                        professionalism, openness, and transparency
                                    </p>
                                    <p>
                                        We are a Co-operative, which means we also do many things together, and our
                                        members share in the values of the Co-operative
                                    </p>
                                    <p>
                                        Interfriends membership is by recommendation only, which means members only
                                        recommend friends and family they can trust.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    I can save my money with the bank, so why should I join Interfriends?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body et_line_h_30 et_text_clr_212529 et_ff_Gilroy-Regular">
                                    <p>By joining a savings circle, you willingly hold yourself to account by agreeing
                                        to diligently
                                        save a specific amount each month with other circle members.</p>
                                    <p>By joining Interfriends savings circle, you cultivate the most important habit of
                                        diligent
                                        saving, even when you don’t feel like it.</p>
                                    <p>By joining Interfriends, you can have the flexibility of receiving an early bulk
                                        payout
                                        without having to wait till the end of the cycle</p>
                                    <p>With traditional banks, you can only withdraw what you have saved and nothing
                                        more.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading4">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                    How to become a member of the Co-operative
                                </button>
                            </h2>
                            <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body et_line_h_30 et_text_clr_212529 et_ff_Gilroy-Regular">
                                    <p>You have to be an existing Interfriends savings club member</p>
                                    <p>You have to meet the minimum joining criteria to become a member</p>
                                    <p>You should purchase a minimum of 1 share in the Co-operative</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading5">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                    Do I have to save a specific amount each month?
                                </button>
                            </h2>
                            <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Yes, you choose a specific amount to save each month and stick with it throughout
                                        the cycle.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading6">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                    How long is each savings cycle?
                                </button>
                            </h2>
                            <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Each Interfriends savings cycle lasts for six months. All members start and end
                                        their cycles at the same time.</p>
                                    <p>There are two cycles in a year. Jan to June and July to Dec.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading7">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                    When do I collect my payout for the cycle?
                                </button>
                            </h2>
                            <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Interfriends has a policy of deciding who can collect their payout first, second,
                                        third, or sixth month.</p>
                                    <p>Before the cycle starts, all members propose when they want to collect their bulk
                                        payout.</p>
                                    <p>Interfriends reviews this in line with our policy and accepts or declines by
                                        offering an alternative bulk payout month.</p>
                                    <p>New members in the circle will always collect their bulk payout last in the
                                        cycle.</p>
                                    <p>As members stay with Interfriends for a longer period, they build trust and
                                        credibility while also growing their Provident with the group. All these play a
                                        role in deciding when a member can collect their payout within the six month
                                        cycle.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading8">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                    Are there any membership fees to pay?
                                </button>
                            </h2>
                            <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Interfriends is completely free to use. There are no monthly or annual fees to
                                        pay.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading9">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                    Are there any other charges
                                </button>
                            </h2>
                            <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>There are no charges to the members; however, every member contributes 10% of
                                        their total bulk payout into a Provident pot. This Provident is held for the
                                        member as a risk pot.</p>
                                    <p>The total Provident amount accrued by a member is returned to them should they
                                        decide to leave the group at some point.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading10">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                    Is Interfriends legal
                                </button>
                            </h2>
                            <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Interfriends Co-operative is registered in England as a registered society under
                                        the Co-operative and Community Benefit Societies Act 2014.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading11">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                                    How do you get the people to join in the circle
                                </button>
                            </h2>
                            <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Interfriends Circle operates by recommendation only.</p>
                                    <p>To join a circle, two existing members from that circle should recommend that you
                                        join.</p>
                                    <p>Each circle also has a circle lead who will approve new members to join.</p>
                                    <p>Circle membership is currently limited to up to 25 members. All recommended by
                                        existing members of the circle.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading12">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                                    Why do you have to deduct the 10% provident
                                </button>
                            </h2>
                            <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                            
                                        <p>All members are subject to a percentage deduction from their bulk payout.
                                        </p>
                                        <p>This deduction is set at 10% of total savings per cycle. This is not a
                                            charge but a safety fund kept on behalf of the member.</p>
                                        <p>This will be used to cover the member in the event of an emergency when they
                                            are not able to make their usual monthly savings.</p>
                                  
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading13">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                                    Do I always have to wait till the end of the cycle to receive my bulk payments?
                                </button>
                            </h2>
                            <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                
                                        <p>No, you may opt to receive your bulk funds after the first, second, third,
                                            up to the sixth month.</p>
                                        <p>The month a member receives their bulk payout is dependent on the amount of
                                            Provident they have accrued in the group.</p>
                                        <p>This means a new member with no Provident will automatically receive their
                                            bulk funds/payout at the end of the cycle.</p>
                                   
                                </div>
                            </div>
                        </div>


                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading14">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                                    Will the amount of bulk funds I receive be affected if another member of the group
                                    delays or misses their monthly payment?
                                </button>
                            </h2>
                            <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                              
                                        <p>No, as a group, we have tried to minimise most of the potential risk
                                            exposure to the group.</p>
                                        <p>The Provident fund helps us to step in if a member is not able to pay or
                                            misses their payment.</p>
                                        <p>Every time you are due to receive your bulk funds, we will deduct 10% and
                                            keep it for you as a safety net.</p>
                                        <p>The provident is recorded and saved for you. Over time, your provident fund
                                            grows and becomes sufficient to cover you if you are unable to make your
                                            expected monthly savings.</p>
                                 
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading15">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                                    How long will you keep my provident, and where will you keep it?
                                </button>
                            </h2>
                            <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="heading15"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                
                                        <p>So long as you remain a member of Interfriends, we will hold the provident
                                            fund for you in Interfriends’ dedicated bank account.</p>
                                        <p>Whenever a member decides to leave the group, all their accrued provident
                                            funds will be returned to them.</p>
                              
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading16">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
                                    What if I decide to collect my bulk funds last all the time, will you still deduct
                                    the provident?
                                </button>
                            </h2>
                            <div id="collapse16" class="accordion-collapse collapse" aria-labelledby="heading16"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                               
                                        <p>The provident deduction is mandatory for all members regardless of when they
                                            choose to collect their bulk funds.</p>
                                        <p>The principle of the provident is also to allow the group the ability to
                                            leverage our combined finances for the benefit of the wider group.</p>
                                        <p>Interfriends is a cooperative, so we do things with a slightly different
                                            approach.</p>
                                 
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading17">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
                                    How often can I receive my bulk funds in a cycle?
                                </button>
                            </h2>
                            <div id="collapse17" class="accordion-collapse collapse" aria-labelledby="heading17"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                
                                        <p>Each member is entitled to their bulk funds payments once within the six
                                            months (cycle).</p>
                                        <p>This amount is equal to six times your monthly contribution less the agreed
                                            provident fund deduction.</p>
                                        <p>This means if you save £100 a month, you will be paid £540 as a lump sum and
                                            £60 kept as your Provident.</p>
                             
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading18">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
                                    How is Interfriends managed?
                                </button>
                            </h2>
                            <div id="collapse18" class="accordion-collapse collapse" aria-labelledby="heading18"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                 
                                        <p>Interfriends is managed by a core team, the Operations Team. The team is
                                            responsible for the day-to-day running of the group.</p>
                                        <p>In addition, there is also the Interfriends Board, which makes strategic
                                            decisions that govern how Interfriends is run.</p>
                                 
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading19">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse19" aria-expanded="false" aria-controls="collapse19">
                                    What happens once I am accepted as a member?
                                </button>
                            </h2>
                            <div id="collapse19" class="accordion-collapse collapse" aria-labelledby="heading19"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Once you are accepted as a member, you will receive an email notification that
                                        your membership has been approved.</p>
                                    <p>Your welcome email will contain a link. Follow this link to complete your
                                        membership
                                        registration.</p>
                                    <p>Once your membership is completed, you will be included in the circle your
                                        recommenders belong to</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading20">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse20" aria-expanded="false" aria-controls="collapse20">
                                    How do I make my monthly payments?
                                </button>
                            </h2>
                            <div id="collapse20" class="accordion-collapse collapse" aria-labelledby="heading20"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">

                                    <p>All payments are made via online banking into our dedicated bank account.
                                        You will be given our bank account details to make your regular payments
                                        using your unique ID, which will be provided to you.</p>
                                    <p>We do not accept any cash payments or any other form of payment.</p>

                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading21">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse21" aria-expanded="false" aria-controls="collapse21">
                                    What is Interfriends Co-operative?
                                </button>
                            </h2>
                            <div id="collapse21" class="accordion-collapse collapse" aria-labelledby="heading21"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">

                                    <p>The Interfriends Co-operative is a registered business arm of Interfriends
                                        where members can invest as shareholders.</p>
                                    <p>The Co-operative business uses the investment to run the business for the
                                        benefit of the members.</p>

                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading22">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse22" aria-expanded="false" aria-controls="collapse22">
                                    Can I decide to leave Interfriends anytime I want?
                                </button>
                            </h2>
                            <div id="collapse22" class="accordion-collapse collapse" aria-labelledby="heading22"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">

                                    <p>Yes, you can leave Interfriends anytime by serving us with the correct
                                        minimum notice period.</p>
                                    <p>Usually, a month before every cycle ends, members are asked to confirm if
                                        they want to increase or reduce their savings in the coming cycle.</p>
                                    <p>This is also a time members are asked to confirm if they wish to leave
                                        Interfriends or suspend their membership.</p>

                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading23">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse23" aria-expanded="false" aria-controls="collapse23">
                                    How do I build my trust with Interfriends?
                                </button>
                            </h2>
                            <div id="collapse23" class="accordion-collapse collapse" aria-labelledby="heading23"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">

                                    <li>While we depend on our members to act in a trustworthy way, we also make use
                                        of technology to assign a Trust Score to each member.</li>
                                    <p>As members continue making regular payments on time, they build their Trust
                                        Score. This is used to make decisions about the members.</p>

                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading24">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse24" aria-expanded="false" aria-controls="collapse24">
                                    Can I change my savings amount for future cycles?
                                </button>
                            </h2>
                            <div id="collapse24" class="accordion-collapse collapse" aria-labelledby="heading24"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">

                                    <p>Yes, at the end of the six-month cycle, members can upgrade, downgrade, keep
                                        to their existing savings, or leave the group altogether if they want to.
                                    </p>
                                    <p>Should a member decide to leave the group, all their accrued Provident funds
                                        will be returned to them, less any money they owe the group at the time of
                                        leaving.</p>

                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading25">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse25" aria-expanded="false" aria-controls="collapse25">
                                    Is Interfriends all about savings?
                                </button>
                            </h2>
                            <div id="collapse25" class="accordion-collapse collapse" aria-labelledby="heading25"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">

                                    <p>No, Interfriends is not only about savings; there is a lot more we can
                                        succeed together as a Co-operative.</p>
                                    <p>We also operate a cooperative business, which is fully owned by our members.
                                    </p>

                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading26">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse26" aria-expanded="false" aria-controls="collapse26">
                                    How do you manage your risks?
                                </button>
                            </h2>
                            <div id="collapse26" class="accordion-collapse collapse" aria-labelledby="heading26"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">

                                    <p>As a group, we minimise risks of financial loss to members by instituting
                                        various risk mitigating measures, including the Provident fund deduction,
                                        assigning Trust Scores to members, and above all, following a strict process
                                        of approving new members.</p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>